[2016-12-25 06:06] rendomnet opened #1 "How to put modal window in to separate component?"
I have big problems with this.
Can you make simple example?

[2016-12-27 09:17] mmazzarolo commented on #1
Sorry for being late :)
Can you give me a bit more detail on the result you want to achieve?

Also, did you already take a look at the [example?](https://github.com/mmazzarolo/react-native-animated-modal/blob/master/src/index.js).

[2017-01-07 07:26] stonepreston opened #2 "A way to specify no animation"
is there a way to specify no animation? I would like to be able to have no animation (so it just appears) for showing the modal, and slide out for hiding the modal

[2017-01-07 10:50] mmazzarolo commented on #2
Hey @stonepreston, that's a totally legit question.
I'm thinking about the best way to implement such a feature and there are two options at the moment that may fit:
- Disable a specific animation when its timing is `0` (less declarative, more concise) - right now setting it to `0` will just trigger the default timing
- Add a prop for each animation specifying if the animations should be enabled o

[2017-01-07 10:51] mmazzarolo commented on #1
I'm closing the issue, feel free to re-open it if needed.

[2017-01-07 10:51] #1 closed

[2017-01-07 18:43] stonepreston commented on #2
alright I am going to implement an animated modal in a bit, Ill let you know how it goes

[2017-01-07 18:58] stonepreston opened #3 "Modal does not appear"
I am trying to get a simple modal to appear on screen using RN v0.40.0. I have imported the animated modal using

`import Modal from 'react-native-animated-modal';`

and have inserted a modal component into my view:

[code]

The modal does not appear.

However, I have found that by changing isVisible to the regular react-native prop visible and running my app, a normal non animating modal appears.

[2017-01-07 20:04] mmazzarolo commented on #3
Hey @stonepreston but it's a bit hard for me to debug your issue :)
Can you try to put the repo [example](https://github.com/mmazzarolo/react-native-animated-modal/tree/master/example/src) in your code and check if it is working correctly for you?
From my understanding your issue might be related to the fact that you are putting a navigator inside the modal or that your modal is activated on the f

[2017-01-07 20:39] stonepreston commented on #3
Yeah it was another piece of code causing some issues. I tried the repo code just by itself and its working fine. Thanks!

[2017-01-07 20:39] #3 closed

[2017-01-07 21:19] mmazzarolo commented on #3
No worries man, glad it worked ;)

[2017-02-06 19:26] siemya opened #4 "modal in front of a modal"
Hey,
In my app, i need to open a new modal in front of an existing modal, but i couldn't make it work...

[2017-02-06 19:59] mmazzarolo commented on #4
Hey!
Honestly... I never tried anything similar.
I don't even know if it is possible using react-native own's modal component (which is the one I'm using in this library).

Also, having more than one modal on screen is not really UX-friendly in my opinion (I can think of only 1 - 2 apps that implemented it nicely).

Anyway, can you share the code you used?

[2017-02-06 20:00] mmazzarolo commented on #2
@stonepreston I'm closing this, let me know if it worked for you :)

[2017-02-06 20:00] #2 closed

[2017-02-06 20:20] siemya commented on #4
Thanks for the fast response!
Actually my first modal is just a view i want to open via animation, the second one is an alert.
The alert doesn't need to animated, however it wont render in front of a modal when i give position absolute.

Basically my code:

<AnimatadView isVisible={isVisible}/>
<Alert  isVisible={isVisible}/>

Where both components are "react-native-animated-modal" inside.

[2017-02-06 21:01] mmazzarolo commented on #4
Well, is seems correct to me... if it won't work I guess it's an "issue" with the react-native modal.
I can't test it right now but you can have 2 options I guess:
1. Try to swap the `react-native-animated-modal` you used in the `Alert` with the react-native one (should be easy) and see if it works. If it doesn't work it must be a react-native issue.
2. Use a `react-native` Alert instead of your c

[2017-02-06 23:49] siemya commented on #4
I actually need to use my custom alert component.

Looks like it is an issue about react native Modal.

[]([https://github.com/facebook/react-native/issues/3445])

But sadly doesnt solve my problem, cause i can't use them in a nested way.

[2017-02-07 08:07] mmazzarolo commented on #4
If you really need them the only way you can do something like that might be creating your own modal with `postition: absolute` and show it at the root level of you app when needed

[2017-02-07 08:07] #4 closed

[2017-02-23 22:36] temitope opened #6 "custom component wrapper for Modal"
I am trying to create a customized modal for error validation alerts, so I know it is a single button "click to close" pattern of popup and I have styling and can pass in the message and visibility things as props. Instead of creating that each time I wanted to just have a custom modal, but I am not able to do so without errors saying.

`Warning: React.createElement: type is invalid -- expected a

[2017-02-23 23:12] temitope commented on #6
gonna close this for now. i think im making amateur mistakes with importing. will reopen if still an issue.... if you have any comment on the feasibility lemme know

[2017-02-23 23:18] #6 closed

[2017-02-24 07:56] mmazzarolo commented on #6
Yes, it is possible.
I would highly recommend to change this:
[code]

to this:
[code]

And to handle the visibility state of the modal externally.

[2017-02-25 00:16] temitope commented on #6
@mmazzarolo thank you.

[2017-03-04 07:41] elzup opened #7 "新規でアプリ登録修正"
落ちちゃう

[2017-03-04 07:41] #7 closed

[2017-03-04 07:42] elzup commented on #7
I missed. So sorry.

[2017-03-21 13:08] Nyl000 opened #9 "Is it possible to set animatable V1.1.1 in dependencies?"
Hi,
First, thanks you for this awesome module !
This module uses animatable 0.6.1 as dependency.

Is it possible to switch to 1.1.1 ?
It permit to define custom animations via Animatable.initializeRegistryWithDefinitions :)

Thx !

[2017-03-21 14:51] mmazzarolo commented on #9
Hey @Nyl000, of course!  Would you mind sending a PR?
Otherwise I'll update it by myself when I have some spare time!

[2017-03-22 13:11] Nyl000 commented on #9
Sure :) , done here : https://github.com/mmazzarolo/react-native-animated-modal/pull/10
Thanks !

[2017-03-26 00:09] #9 closed

[2017-03-29 02:53] Doko-Demo-Doa opened #11 "Tap outside to close"
Is there a way to implement that function? Right now when I tap on the darkened region, the modal doesn't close.

[2017-03-29 07:47] mmazzarolo commented on #11
Hey!
It should be possible by toying a bit with the touchable options of [this View](https://github.com/mmazzarolo/react-native-animated-modal/blob/master/src/index.js#L107).
Would you mind giving it a try and submitting a PR?
Otherwise I'll take a look at it in my spare time :)

[2017-03-29 15:59] DavidKongDesheng commented on #11
😆 pls add this function~~ thanks

[2017-03-29 16:23] Doko-Demo-Doa commented on #11
Thank you @mmazzarolo , actually I fixed using exactly same method you mentioned. It works, but since the first image in your preview images (on README.md) does it correctly, I thought it was implemented already, wasn't it?

[2017-03-29 16:48] DavidKongDesheng commented on #11
@Doko-Demo-Doa according to the source code, haven't implemented yet, there is no close event on backdrop view or you can do sth like this, not so good but should be work.

[code]

[2017-03-29 17:27] mmazzarolo commented on #11
@Doko-Demo-Doa oh wow, honestly I don't remember how I implemented it for that screenshot (I did it in a customized version of this lib 😞 ).

@DavidKongDesheng the problem with that solution is that clicking everywhere on the modal will close it.
In my opinion the right solution would be using `onStartShouldSetResponderCapture` (or [something similar](https://facebook.github.io/react-native/docs/v

[2017-03-29 18:54] mmazzarolo commented on #11
I played a bit.
It seems that the right way to handle it is by applying something like this: `
[code]
in the backdrop view.
The problem with this approach is that it won't work correctly if you're centering the modal content using this:
[code]
...which is the default style applied to the content.

I guess we should wait until react-native 0.43 stable lands and try changing that style to the new `m

[2017-03-30 02:23] DavidKongDesheng commented on #11
@mmazzarolo On my solution I added two touch events, one for Modal itself which will close the modal, the other one is on the Modal content view which will do nothing 😸,  so only when you click the backdrop will close the modal.
<TouchableWithoutFeedback **_onPress={() => this.setState({ visible: false })}_**>
        <Modal isVisible={this.state.visible}  ...>
            <TouchableWithoutFeedbac

[2017-03-30 07:23] mmazzarolo commented on #11
Oh, nice! @DavidKongDesheng did you test your solution?
Do you think it works correctly in most cases?
Would you mind pasting here your complete snippet?
Thanks!

[2017-03-30 08:23] DavidKongDesheng commented on #11
@mmazzarolo Just added touch event to your example code, you can download and try,  but this is not the best way to implement.
[app.js.zip](https://github.com/mmazzarolo/react-native-animated-modal/files/881428/app.js.zip)

[2017-04-01 06:51] Doko-Demo-Doa commented on #11
It seems that RN's modal component is pretty meh. If there's something like Dialog on Android or UIAlertView on iOS, it would be much better in this case :(

[2017-04-03 18:39] yairk opened #13 "Android back button callback?"
By default, the Android Back button will close the modal. Looking at the code I found the (undocumented?) `hideOnBack` property which disabled this.

The behavior I'm after is a bit different: I'm presenting the user with an alert modal, on top of an existing scene, that will explain what needs to be done. What I'd like to happen is that if Back is pressed, then the app will navigate to the earlie

[2017-04-03 19:22] mmazzarolo commented on #13
Maybe I'm missing something but isn't `onModalHide` enough to achieve your desired effect?
You just navigate to the previous screen when `onModalHide` is triggered. 🤔

Thank you for noticing the `hideOnBack` missing documentation, I'm adding it right now :)

[2017-04-03 19:27] yairk commented on #13
Thanks for the quick reply!

The thing is that I don't think I can tell that `onModalHide` was called as a result of the Back button being pressed. In my particular case, there are other triggers that can cause the modal to go away, and I want to treat the Back button differently.

[2017-04-03 19:46] mmazzarolo commented on #13
I think I got it now :)
Did you already tried handling the back button press by catching it in the modal's parent component (through [react-native's backandroid](https://facebook.github.io/react-native/docs/backandroid.html))?
I'm not a master of the Android back button functionality but it seems that toying a bit with it should solve your issue.
If it doesn't work I guess another solution would b

[2017-04-03 20:09] yairk commented on #13
I have a listener for back button at the very "top level" of my app, and when I set `hideOnBack` to `false` my listener isn't getting called. I guess that react-native's Modal swallows the notification somehow. I actually didn't try installing a handler in the modal's parent component. Will give it a try.

Not sure I follow what you meant by closing when changing `isVisible`, but would it be possi

[2017-04-03 20:16] mmazzarolo commented on #13
Honestly, I wanted to preserve `closeOnBack`/`onRequestClose` to the current status for another nifty future I planned (hiding modal on backdrop press) but in the end add a callback shouldn't interfere too much at all so... sure, you can do it, a PR is very much welcome :)

Thanks!

[2017-04-04 12:25] mmazzarolo commented on #13
Released on v2.2.0, closing!

[2017-04-04 12:25] #13 closed

[2017-04-10 18:54] Brian-Kaplan opened #15 "Cannot Style like First Example"
I love the style and animations of the first gif example (from the left) that you have on the README. I am unable to get the animations to work correctly though. For some reason the default animations do not start from or return to the bottom of the screen like they do in your example. I am able to add a margin to the top so I can center the modal in the screen but when it slides up it doesn't com

[2017-04-10 19:00] mmazzarolo commented on #15
Hello there!
That's weird, animations shouldn't lag at all.
First of all, what version of React-Native are you using?
Did you already try the example project in the `example` dir?  (It should give you some hints on the style you can apply!)
Let me know if it works for you, otherwise just post your code here and I'll try to help as soon as I reach a working pc 💻

[2017-04-11 13:24] Brian-Kaplan commented on #15
Im using react-native 0.43.1 which requires react 16.0.0-alpha.3

I didn't explicitly try the examples but I did look at the styles and props you pass. I also noticed that there was no documentation for the animation string types.

[2017-04-11 13:56] mmazzarolo commented on #15
You can take a look at [react-native-animatable](https://github.com/oblador/react-native-animatable) from the available animations.

[2017-04-11 14:57] Brian-Kaplan commented on #15
Okay thanks for that, I can actually see in the example gifs they show that the animations behave exactly the same way that I see. It doesn't slide up from the bottom of the screen. How did you get it to do that in the first example gif you have. I don't think any of your example code actually matches that specific gif.

[2017-04-11 15:43] mmazzarolo commented on #15
You are right, it seems that the gif acts differently from how the modal works now 🤔
I'll take a look at it soon, it might be a regression after a React-Native update.
Thank you for man :)

[2017-04-11 15:44] Brian-Kaplan commented on #15
Okay good to see that I'm not going crazy here. Thanks for being so proactive about this. I look forward to seeing what you come up with!

[2017-04-15 09:32] mmazzarolo commented on #15
@Brian-Kaplan the animations started to behave differently since the react-native-animatable update #10
I tried to backtrack the issue but I've not been able to solve it, it seems to be related to the positioning of the modal content that is not handled correctly since [this react-native-animatable release](https://github.com/oblador/react-native-animatable/releases/tag/v1.0.0).
I'll try to give i

[2017-04-16 14:24] g3r4n commented on #15
This is because of the 100px value hardcoded in [sliding-entrances](https://github.com/oblador/react-native-animatable/blob/master/definitions/sliding-entrances.js) and [sliding-exits](https://github.com/oblador/react-native-animatable/blob/master/definitions/sliding-exits.js)

[2017-04-16 22:26] Vikaton opened #18 "Edit how far the modal exits"
Is there a way to edit how far the modal exits? If I alter the size of the modal and I call hideModal, the modal itself drops a few, then abruptly disappears

[2017-04-17 01:29] g3r4n commented on #18
Should be fixed in #15

[2017-04-17 08:31] mmazzarolo commented on #15
Wow, @g3r4n great work! Thank you for finding it out! ❤️

[2017-04-17 08:38] mmazzarolo commented on #18
Hey @Vikaton, #17 should fix it indeed.
I'll probably release it on NPM tomorrow. If you need it asap you can use the master branch.

[2017-04-17 18:08] Vikaton commented on #18
Thank you!

[2017-04-18 17:55] mmazzarolo commented on #15
Landed in [v2.3.2](https://github.com/react-native-community/react-native-modal/releases/tag/v2.3.2).
Feel free to comment here if needed!

[2017-04-18 17:55] #15 closed

[2017-04-18 17:55] mmazzarolo commented on #18
Landed in [v2.3.2](https://github.com/react-native-community/react-native-modal/releases/tag/v2.3.2).
Feel free to comment here if needed!

[2017-04-18 17:55] #18 closed

[2017-04-19 01:48] krislee94 opened #20 "Could you tell me how to install it ？npm i --save？or others"
I can't install it ，please tell me 。

[2017-04-19 02:21] #20 closed

[2017-04-19 06:45] RWOverdijk opened #21 "Native error on hide"
The message is:

I'm seeing this whenever I hide the modal. I'm not sure if the modal causes this, I'm just _really_ hoping someone sees this error and goes _"oh, yeah you're just being stupid. Do <42> to solve your problem"_.

This only happens on android and works fine on ios.

[code]

[2017-04-19 06:51] RWOverdijk commented on #21
**Update:** It happens as soon as the modal has an Image as content. So this works:

[code]

And this doesn't, and causes the error:

[code]

[2017-04-19 07:13] mmazzarolo commented on #21
Hi @RWOverdijk , thanks for reporting the issue.
Could you try wrapping the `Image` in another `View` (and maybe toy a bit with its style)?

[2017-04-19 07:15] RWOverdijk commented on #21
@mmazzarolo The View didn't change anything unfortunately. What do you mean by toying with styling? By the way, are you guys on gitter / slack somewhere?

[2017-04-19 07:54] mmazzarolo commented on #21
My fault, I wasn't explicit enough.
Being an Android-only issue, this might be related with how the layout is handled, so it might be worth applying/removing `flex: 1` or a fixed width/height to the `View`, just to see if it changes anything.
Another thing worth investigating is the [`onLayout`](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L147) prop applie

[2017-04-19 08:55] RWOverdijk commented on #21
@mmazzarolo Same here, also combining my job with OS work. I may be able to chip in a bit, but that does involve a learning period. I'm [here](https://gitter.im/spoonx/dev) and [here](https://gitter.im/RWOverdijk).

As to the issue at hand, I don't think styling is involved. It's trying about setting a child element. I tried a bunch and nothing appears to work for me. I'll dig deeper on the train.

[2017-04-19 09:35] mmazzarolo commented on #21
Just created a chat room for [on Gitter for react-native-modal](https://gitter.im/react-native-modal/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link), but I'll probably ask other react-native-community maintainers for a unified room.

[2017-04-19 14:49] RWOverdijk commented on #21
Disappeared as soon as I just rebuilt my app. So not sure what caused it. I can no longer reproduce it.

[2017-04-19 14:49] #21 closed

[2017-04-20 11:26] warka0 commented on #11
Hi,

I did exactly the same thing as @DavidKongDesheng but still don't working on my side !

[code]

Or maybe i don't make it well... no ?

[2017-04-20 12:26] emaLorenzo commented on #11
Hi! For me the solution of @DavidKongDesheng works great 🔥
This is my code:

`constructor(props) {
    super(props);
    this.state = {
      isModalVisible: false
    }
  }

  _showModal() {
    this.setState({ isModalVisible: true })
  }

  _hideModal() {
    this.setState({ isModalVisible: false })
  }

  render() {
    const { alerts, showAlert } = this.props;
    return (
      <Container sty

[2017-04-20 14:08] warka0 commented on #11
@emaLorenzo Thanks! But it doesn't work :(

I don't know why it doesn't triggered the background :/

[2017-04-21 02:44] DavidKongDesheng commented on #11
@warka0 Can't reproduce it according the attached codes, but it looks like you are using Modal from 'react-native' not from 'react-native-modal'

Or maybe try
1. Remove onRequestClose, use onBackButtonPress instead
2. Set transparent={false}  and set 'red' as background color of your option list view, and check if really click on the background or somewhere else.
3. Check your renderOptionList().

[2017-04-21 23:59] jm90m commented on #11
@emaLorenzo Thanks for your solution, this worked for me 👏  👍

[2017-04-22 16:10] kdenz commented on #11
@DavidKongDesheng Your solution worked for me, thanks! I hope this functionality is added soon to react-native-modal, it's such an important function.

[2017-04-22 16:20] warka0 commented on #11
I'll test it in two days. Cannot do it right now, i'm between two airports. :p

[2017-04-22 16:59] kdenz opened #22 "How to create a drop-down modal menu?"
I figured that I would to precisely determine the position of the modal, so that when it appears, it appears right below the button which opens it. How should I approach it with react-native-modal? Thanks!

[2017-04-23 09:43] mmazzarolo commented on #11
Hey, I'll try to take a look at it soon (PRs are obviously warmly welcome) :)
I still haven't tried the touchable wrapper but... doesn't it swallow the click buttons inside the modal (if any)? 🤔

[2017-04-24 15:50] Brian-Kaplan commented on #15
works like a charm, great work!

[2017-04-25 04:08] g3r4n commented on #22
Can you share a design of what you tried to achieved ?

[2017-04-26 10:05] warka0 commented on #11
Ok, i've tried and it's working, thanks!

[2017-04-26 18:10] mmazzarolo commented on #11
@warka0, does it also work if you add a button inside the modal? Doesn't the `TouchableWithoutFeedback` wrapper on the modal swallow any touch to components inside it?

[2017-04-27 01:33] jm90m commented on #11
@mmazzarolo So the modal is wrapped in `TouchableWithoutFeedback` but inside the modal I have a bunch of buttons wrapped around in `TouchableOpacity` and it works perfectly 👍

[2017-04-27 07:15] mmazzarolo commented on #11
It was easier than I thought then :) Anyone willing to submit a PR?

[2017-04-27 13:35] jm90m commented on #11
Sure I'll submit an example

[2017-04-27 15:58] mmazzarolo commented on #11
@jm90m thank you for the PRs!
However...
Guys, with @emaLorenzo 's solution the modal is closed wherever you tap, while the issue was focused on closing the modal only when clicking on the backdrop 😿

[2017-04-27 19:45] jm90m commented on #11
@mmazzarolo ohh, yeah looks like the main issue is more complex than it seems. I see, if I ever come across a solution, I'll submit a PR if no one has done so yet.

[2017-04-28 13:04] zhantx commented on #11
You guys can take a look at my (repo)[https://github.com/zhantx/react-native-flex-modal], the idea is surround modal with 4 touchables. My initial solution was use a screen size touchable to perform tapToClose, a modal size touchable wrapping the modal to prevent the tap event gose up(no onpress). But then I found I can't use scrollview inside the touchable. So I came with up the solution in my re

[2017-04-28 13:18] zhantx commented on #11
And also, by adjusting the flex value of the four touchables, we can change the position of the modal, which also solve #22 , I already used my modal to create a popover

[2017-04-28 16:12] mmazzarolo commented on #11
Hey @zhantx , thank you for contributing to the discussion 👍
Glad there's someone else out there working with the modals.
It seems you're solution is super-flexible, at the cost of being a bit more harder to grasp to someone new to RN.
For this repo I'd like to keep the things as simple as possible, but your solution might be a good source of info for future implementations.
Also, I only took a qu

[2017-04-29 02:41] zhantx commented on #11
Hey @mmazzarolo , yeah I've been trying hard to simplify my modal by setting default props. so if none props are set then it will be at the center of the screen.
For you modal, to be honest adding tapToClose is impossible cuz your modal is controlled by prop `isVisible`, so the modal can't close itself directly. What I suggest is implement four touchables in your modal, and trigger an `onTapBackdr

[2017-04-29 07:07] mmazzarolo commented on #11
Hey @zhantx, thanks!

Does it also resize itself based on the content size? 🤔

I'm not aiming at making the modal close itself directly, just to exposing an `onBackdropPress` listener, which can be used to close it from the modal's parent.

I'm trying to keep `react-native-modal` component as controlled as possible by staying away from refs method (at least until they're really needed).

[2017-04-29 09:28] zhantx commented on #11
@mmazzarolo , check this out
[![Simulator Screen Shot 29 Apr 2017, 7.26.11 pm.png](https://s10.postimg.org/edcx0rnux/Simulator_Screen_Shot_29_Apr_2017_7.26.11_pm.png)](https://postimg.org/image/91y0g21s5/)

[2017-04-29 09:53] mmazzarolo commented on #11
@zhantx this is super-cool, thanks!
I'll take a look at a way to implement a similar solution here as soon as I have some free time.
Obviously, backward-compatible PRs are welcome too.

[2017-04-29 10:23] zhantx commented on #11
@mmazzarolo you are welcome mate, glad to be helpful.
my modal is just a side product of my work, may don't have time to contribute yours
anyway, best wishes to remaining works, cheers

[2017-05-08 10:35] ng-hai commented on #22
I think you should try `react-native-menu`

[2017-05-11 17:54] mmazzarolo commented on #22
Closing it, feel free to reopen if still needed :)

[2017-05-11 17:54] #22 closed

[2017-05-12 09:01] mlukasch commented on #11
Dont understand the Modal is taking the full screen for the backdrop overlay. So the solution doesnt work to wrap it inside a Touchable

[2017-05-12 22:38] dcarrot2 opened #24 "Advice on mocking animations"
Hello, first off, thanks for an awesome component!

We're trying to create a snapshot test using Jest for a component that uses `react-native-modal`. Upon running, it errors on `initializeRegistryWithDefinitions`.

![nomock](https://cloud.githubusercontent.com/assets/6015914/26019243/c7cbf844-3728-11e7-8728-c352726a47a4.png)

We then tried mocking it with

[code]

which gave another error.
![image

[2017-05-13 07:29] mmazzarolo commented on #24
Hi there!

I'll be honest with you, I never test UI components, so I probably won't fit for the purpose of the issue.

Anyway, from a quick inspection to the code and to [react-native-animatable issues (got you!)](https://github.com/oblador/react-native-animatable/issues/97) it seems that you're mocking react-native-animatable's `View` using the original react-native's `View`, which misses the `tr

[2017-05-13 07:33] mmazzarolo commented on #24
Keep in mind that if the above solution works, you should also mock the methods called [here](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L90), which might be a bit harder because they are customizable: `[this.props.animationIn]` is in fact the `animationIn` prop passed to the modal.

[2017-05-13 15:22] jm90m commented on #11
@zhantx  very helpful thx. For my case, I only had to use 2 `TouchableWithoutFeedback` (One for wrapping around the entire Modal and another for wrapping around the modal content):

<img width="662" alt="screen shot 2017-05-13 at 11 18 07 am" src="https://cloud.githubusercontent.com/assets/5067716/26026699/466e66b4-37ce-11e7-936c-3e79c6c99a66.png">

[2017-05-13 15:41] zhantx commented on #11
as long as you don't have scrollview within modal:)

[2017-05-13 18:56] jm90m commented on #11
@zhantx nope its a simple menu, but good point :)

[2017-05-14 15:10] RWOverdijk opened #25 "Avoid keyboard"
How can I avoid the keyboard with the modal? I tried KeyboardAvoidingView but that doesn't seem to do anything

[2017-05-15 16:57] dcarrot2 commented on #24
No worries, thanks for getting back to me!

Out of curiosity, why do you never test UI components?

So I tried mocking `transitionTo` without any luck. I think why it didn't work is because `modal` utilizes React's `ref` which `react-test-renderer` [per here](https://github.com/facebook/react/issues/7740)
doesn't support unless it is explicitly mocked out via `createNodeMock` but I guess it only d

[2017-05-15 18:02] mmazzarolo commented on #24
Mostly because of time constraints. If I have to choose in which kind of test I should invest my time I always go for unit tests on the logic of the apps since UI components change too frequently for my tastes (that's one of the reasons I love Jest snapshots).

Glad you fixed it anyway man 💃

[2017-05-15 18:02] #24 closed

[2017-05-17 02:15] tuandt opened #26 "How could we add swipe down to close function?"
Hi,

I love the way this module: https://github.com/maxs15/react-native-modalbox implemented swipe down to close. How could we add this function to our module?

Thanks!

[2017-05-17 07:00] mmazzarolo commented on #26
Hey!
That's an interesting feature I already considered in the past.
From my point of you it should be already possible implementing it by [applying the panhandlers on the view that you nest in the modal](http://moduscreate.com/animated_drag_and_drop_with_react_native/).
The main drawback in this approach is that you won't be able to gradually fade the backdrop while dragging the modal (like in `r

[2017-05-17 07:30] mmazzarolo commented on #25
I had the same issue when I started working on it and it [is still open on react-native issues](https://github.com/facebook/react-native/issues/10138).
Did you find any workaround?

[2017-05-17 07:34] RWOverdijk commented on #25
@mmazzarolo I just added a marginBottom and it then moves out of the way

[2017-05-17 07:50] mmazzarolo commented on #25
Oh. That's nice 👍

[2017-05-17 07:50] #25 closed

[2017-05-17 07:56] RWOverdijk commented on #25
It's still something to keep in mind, though. It's not a fix but a workaround :)

[2017-05-17 09:04] tuandt commented on #26
Hi mmazzarolo,

Thank you for your great module. I think many people would like to have this feature.

Hope that some one can help.

[2017-05-17 09:40] yanush opened #27 "Device rotation issues"
I've encountered two issues while using this component over the regular modal:
1. I had to add supportedOrientations={['portrait', 'landscape']} prop in order for rotation to actually work (which is not documented anywhere).
2. After doing so, and rotating the device, the black background isn't covering the entire screen anymore

[2017-05-18 07:41] mmazzarolo commented on #27
Hello @yanush

It is not documented because it's the first time I hear about it 😺: it is a react-native modal prop that wasn't available when I first created [this repo](http://facebook.github.io/react-native/releases/0.44/docs/modal.html#supportedorientations).

I'll investigate a bit on it.

[2017-05-20 03:04] kylanhurt opened #28 "Put modal and its content under (zIndex) Header?"
Hi, I am working on a project and am finding it very difficult to get the modal to be put *underneath* (in a zIndex / elevation manner) the Header that I have. The header is in Native Base so I don't know if this is an issue with Native Base or react-native-modal.

![image](https://cloud.githubusercontent.com/assets/6249205/26272491/6f58251a-3cce-11e7-8010-66faa237a72d.png)

That is what it curren

[2017-05-20 10:44] mmazzarolo commented on #28
Hello @kylanhurt !
Could you try swapping the `react-native-modal` with [react-native's modal](https://facebook.github.io/react-native/docs/modal.html) and see if the problem persists?

[2017-05-22 22:13] kylanhurt commented on #28
@mmazzarolo The problem persists. The only way I can figure out to do it is to us the native modal, give it transparency and then put a marginTop equal to the height of the header. It seems very hacky, IMO and even more hacky when you consider that I cannot get the modal to "slide" in from the top especially when you consider that it will have to slide *on-top / over* the header.

Very disappointi

[2017-05-23 04:46] mmazzarolo commented on #28
@kylanhurt that's sad :(
Maybe you should try open an issue in the react-native official repo? You can link this issue if needed.

Is adding a customizable top margin prop to react-native-modal really that bad in your opinion? 🤔

[2017-05-24 17:13] annelorraineuy commented on #27
I see the same bug. My modal is in the center but the black overlay is cut off switching from Portrait to Landscape.

[2017-05-24 17:15] annelorraineuy commented on #27
I didn't need to put `supportedOrientations={['portrait', 'landscape']}` in order for my modal to rotate though.

[2017-05-24 18:15] mmazzarolo commented on #27
I think I'll should add a listener on `didUpdateDimensions` instead of using the `onLayout`.
[It has always been hard handling modal's rotation on react-native](https://github.com/facebook/react-native/issues/7708).

I'll publish a fix in the next few hours, will someone test it if I publish it on the master branch? :)

[2017-05-24 18:16] annelorraineuy commented on #27
I can test it! :)

[2017-05-24 19:24] annelorraineuy commented on #27
I think I was able to fix it. In `index.styles.js`,
[code]
@mmazzarolo

[2017-05-24 19:29] annelorraineuy commented on #27
But it's probably worth  adding a listener as you suggested, since it was reported that the modal is not centered in some android devices.

[2017-05-24 20:44] mmazzarolo commented on #27
Thank you for the PR!
Could you try the update i pushed into master and see if it works correctly for you?
It should be a "cleaner" solution because it handles the device rotation correctly, while the `onLayout` didn't work at all (probably because of a recent react-native release I guess 🤔 ).

Anyway, I tested it on an iPhone 6 simulator providing `supportedOrientations={['portrait', 'landscape']

[2017-05-24 21:55] annelorraineuy commented on #27
@mmazzarolo I'm testing on Android. I get an exception that says `undefined is not an objet (evaluating 'dimensionsUpdate.window.width` in `_handleDimensionsUpdate` : ( and the black overlay still isn't covering the whole screen.

[2017-05-25 06:06] mmazzarolo commented on #27
😞
I'll have to wait for the weekend to test in on Android.
Anyway, I shipped another small tweak on the master branch as a last resort, may you give it a try?

Thank you!

[2017-05-25 15:40] linigithub opened #30 "Multiple modals not working in react native"
When tapping on first modal window i need to open a second modal to the user. i implemented the same but the second modal not opening. Sometime it opens and disappears. any suggestions would be helpful.

[2017-05-25 16:39] annelorraineuy commented on #27
@mmazzarolo Tested on Android, DEV === false.  so the black overlay does cover the whole screen, but on a Samsung Tab A it takes a split second to readjust and stretch out the overlay (either Portrait to Landscape or Landscape to Portrait). I assume this flash will not be seen in iOS but on Android devices like the Samsung Tab A unfortunately it is apparent. :(

[2017-05-25 16:42] annelorraineuy commented on #27
P.S. The PR I submitted also results in a flash but quicker. I guess coz setting `flex:1` is faster than retrieving device dimensions.

[2017-05-26 03:08] linigithub commented on #30
Sorry , its fixed by using setTimeout method. this is a great library.

[2017-05-26 05:03] #30 closed

[2017-05-26 07:37] mmazzarolo commented on #27
@annelorraineuy, thank you for testing it, I appreciate it 👍
On iOS it works fine indeed, I'll test it soon on a Nexus5X and I'll check how much the delay lasts.

[2017-05-26 07:55] mmazzarolo commented on #27
I've just been able to test it on a Nexus5 in both DEV and PROD mode and the transition is flawless.
@yanush could you give it a try too?

[2017-05-29 12:56] matheusrezende opened #31 "How to make it stay at the bottom of the screen"
want to make the modal show at the bottom of the screen like in the Bottom Half example, but i dont know what styles to apply, tried bottom: 0 but it didn't work

[2017-05-29 17:19] mmazzarolo commented on #31
Hello @matheusrezende , you can find the source code of that example [here](https://github.com/react-native-community/react-native-modal/tree/master/example/src).

[2017-05-29 17:19] #31 closed

[2017-05-29 17:34] matheusrezende commented on #31
Thank you @mmazzarolo!

[2017-06-03 03:01] temitope commented on #30
Another idea for  fixing this is to have multiple views share the same modal component but only display the desired view based on state you are keeping. Sometimes the settimeoit feels like it can be unstable

[2017-06-03 13:43] rpereira opened #32 "How to avoid keyboard for bottom half modal"
Let's say we have a bottom half modal with some `TextInput`. How can we avoid the keyboard? I've tried [KeyboardAvoidingView](https://facebook.github.io/react-native/docs/keyboardavoidingview.html) and it did nothing.

CC @mmazzarolo.

Thanks.

[2017-06-04 20:35] #27 closed

[2017-06-04 20:37] mmazzarolo commented on #32
Hey @rpereira , it seems that [adding a margin might help](https://github.com/react-native-community/react-native-modal/issues/25), could you test and confirm it?

[2017-06-04 20:41] rpereira commented on #32
Hi @mmazzarolo. I've seen that issue and the margin didn't do the trick.

I had to modify the source using a `KeyboardAvoidingView`.

[code]

If you guys think it is a clean solution, I can submit a PR.

[2017-06-05 08:51] mmazzarolo commented on #32
It would be great!
Could you also add a prop `avoidKeyboard` (with a default `false`) to enable/disable it?
Mostly for backward compatibility, but also for cases where you don't wont to achieve this effect at all.

In e.g.:
[code]

Thank you! 👍

[2017-06-05 09:03] rpereira commented on #32
I'll do that @mmazzarolo. 👍

[2017-06-10 09:54] hellomaya commented on #11
This worked for me, edit the ```index.js``` to add a ```PanResponder```:

[code]

[2017-06-10 10:00] mmazzarolo commented on #11
Hey @hellomaya , thank you for sharing your snippet.
How does it handle buttons inside the modal? Doesn't the panresponder swallow the press on them?

[2017-06-15 09:02] jkomyno commented on #11
@hellomaya's solution seems to work only if we click the backdrop shadow placed at the horizontal margins. For instance, if I click above or below the Modal, `onPanResponderRelease` doesn't get triggered (I'm testing it with the official example on Android)

[2017-06-15 10:20] hellomaya commented on #11
Hi, @mmazzarolo thanks for your asking and @jkomyno thanks for your test.

Sorry I have been busy working on something, my test initially is in my own project, and it's working well in both iOS simulator and Android device, I didn't see the issue you guys mentioned.

But to avoid the panresponder swallow issue, you will have to put all buttons in a separate component, like this:

[code]

[2017-06-15 11:40] mmazzarolo commented on #11
That's right, but using `flex: 1` is the only way to have the modal size resize itself based on its content (obviously, I'll be glad to be proven wrong).

[2017-06-15 13:51] #28 closed

[2017-06-15 15:41] rpereira commented on #32
I'll submit a PR next week.

[2017-06-15 22:51] hellomaya commented on #11
Yes, it doesn't matter indeed, try add some margin around the ```content``` view, still be able to close the modal by tap outside. ```marginVertical: 25``` for example, larger than 20 was recommended to avoid invalid tap at top in iOS.

[code]

[2017-06-16 19:35] yckbilly1929 opened #34 "Android issue for multiple modals"
my current version: v2.4.0

Attached the screenshots, on testing with the example.

If we close the modal by pressing android back button instead of the close button, warning message will be shown when we open another modal.

After quick checking on source code, I made the following workaround, but I am not sure if it will break other behaviour.

[code]

![test](https://user-images.githubuserconte

[2017-06-17 00:34] kingtross88 opened #35 "how do i setup the half way modal."

[2017-06-18 21:24] fxfactorial opened #36 "Picking margin for me?"
Is it the best API to decide margin for the end user?

https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L157

[2017-06-19 06:41] mmazzarolo commented on #36
You can change it easily by passing your own `margin` in the modal `style` prop, it will override the default 👍

[2017-06-19 06:41] #36 closed

[2017-06-19 06:48] mmazzarolo commented on #34
Hey @ccycecilyip! Thank you for opening the issue and inspecting for the error.
I'm on vacation right now, so I can't investigate much but... why do you think the issue is arising **only** on back button press? 🤔

[2017-06-19 06:49] mmazzarolo commented on #35
I guess [this](https://github.com/react-native-community/react-native-modal/issues/31) might be related to you question :)

[2017-06-19 06:49] #35 closed

[2017-06-19 11:43] ccycecilyip commented on #34
hi @mmazzarolo
i logged the function call, and the _close function was called twice
i am thinking about if ```onRequestClose``` is the reason that leads to the issue, as the official doc said that it will be called when user tapped the hardware back button

[2017-06-19 13:32] denebchorny opened #38 "Backdrop press to close"
Somthing as backdropPressToClose could be usefull as Android has.

[2017-06-19 13:36] kingtross88 commented on #35
thansk for the response. this is exactly what i needed.

On Mon, Jun 19, 2017 at 2:49 AM, Matteo Mazzarolo <notifications@github.com>
wrote:

[2017-06-19 13:46] mmazzarolo commented on #38
[Redirecting to the original issue](https://github.com/react-native-community/react-native-modal/issues/11)

[2017-06-19 13:46] #38 closed

[2017-06-29 12:23] fxfactorial opened #39 "Have modal not take up entire viewable screen: QUESTION"
Looking to use this but constrained within a limited part of the screen rather than the entire viewable screen, perhaps this is an oxymoron of using a modal?

I've given the modal specific sizing but it ignores it and still takes up the entire UI.

[2017-06-29 20:05] Leminur commented on #39
I am having the same problem as well!

[2017-06-29 21:18] mmazzarolo commented on #39
Hi!
Yes, you can use it as a full screen component, you just need to override the modal's margin by applying a style with `margin: 0` to the `style` prop of the modal.
Example:
[code]

let me know if it works for you :)

[2017-06-29 21:27] Leminur commented on #39
@mmazzarolo it's working fullscreen, but we want the contrary, we want the modal to be like a windowed screen, like a second window above the first one, just like in the example images the wiki have.

margin: 0 does not change that, the margin only affects the content inside the modal.

[2017-06-29 23:35] veb commented on #39
@Leminur can't you do:
[code]

![image](https://user-images.githubusercontent.com/376245/27714936-231cdda0-5d88-11e7-9908-e69627aa02ec.png)

[2017-06-30 00:01] Leminur commented on #39
Sorry! It something else that got me there:

backdropColor = {'white'}
     backdropOpacity = {1}

I should have paid attention to that, thanks anyway!

[2017-06-30 07:35] mmazzarolo commented on #39
Honestly the issue you were having is still unclear to me 🤔
Glad you fixed it though, feel free to post here again if you're still in trouble on the matter.

[2017-06-30 07:35] #39 closed

[2017-07-10 14:54] yash2code opened #40 "black screen on Android"
using it with flatlist

[code]

[2017-07-12 06:36] JuniusAng opened #41 "How to do fade in fade out animation?"
Hi, any idea to better fade in and fade out? i didn't find the reference for fade animation so now we are currently modified the animations.js with fadeIn and fadeOut entry that modify opacity props like this

[code]

[2017-07-12 07:52] mmazzarolo commented on #41
Hi @JuniusAng
isn't setting this enough?
[code]

[2017-07-12 08:09] JuniusAng commented on #41
so actually we do not need to add another entry manually? my bad, i should tried to do that in different way before submitting an issue.

[2017-07-12 08:09] #41 closed

[2017-07-12 08:10] mmazzarolo commented on #41
No worries man, glad it works.
You can take a look at [react-native-animatable](https://github.com/oblador/react-native-animatable) for all the available animations (it was at the bottom of the README.md).

[2017-07-17 15:59] tdimnet commented on #11
Hi there, I've just found some great solution (I do not know if someone has already found it).
I add two touchable and text elements within my component and I link to them my onPress event (and its relative closing modal window method).

Here is at my screen looks like:
- the blue borders can hide the modal on Press;
- the select button takes the selected day (or period), save it into a state and

[2017-07-17 17:07] mmazzarolo commented on #11
Hey @tdimnet, thank you for contributing.
The pattern you're following mimics the one showed by @zhantx (he uses 4 touchables in his solution).
I'm stil not 100% sure on adding a similar solution to `react-native-modal` though, because I'm worried it might be a bit to complex to tweak later on (and might be a bit hard to configure for the users without adding a ton of props).

What do you think?

[2017-07-17 21:31] tdimnet commented on #11
Well, this is a really though question :).

I have been through this problem during this afternoon and I think this is maybe the most graceful solution for now. It lets you hide or show the modal window as you would need.

However I think you're right: adding this to your package could make the project more complex to custom and harder to understand and it really depends on the situation you are d

[2017-07-18 04:43] mmazzarolo commented on #11
Thank you for your quick reply, I would be grateful for a PR on the README :)
Thanks!

[2017-07-20 13:41] graphee-gabriel opened #42 "undefined is not an object (evaluating '_this.backdropRef.transitionTo')"
Hello I'm using expo,

After updating to SDK 19 with react-native 46  I get the following message when opening the modal:

`undefined is not an object (evaluating '_this.backdropRef.transitionTo')`

Any idea?

[2017-07-20 15:13] galdanay commented on #32
any update?

[2017-07-21 07:40] JuniusAng commented on #42
got the same issue in android,
"react": "16.0.0-alpha.6",
"react-native": "0.44.0",
"react-native-modal": "^2.3.2",

I think the problem happened here:
[code]

any quick fix for this?

[2017-07-21 07:53] KeabetsweFx commented on #42
I've just upgrade to expo SDK 19 as well and I'm seeing the same error, it was working fine on expo SDK 18.

[2017-07-21 08:26] mmazzarolo commented on #42
Umh too bad, I never used Expo and I don't even know where to start 😭

I'll give it a shot as soon as I have some free time.

Does Expo SDK have a changelog available somewhere? It might be a good starting point.

[2017-07-21 10:05] hash9 commented on #11
There is an easy solution for closing the modal in react native for IOS: Define a TouchableOpacity inside the Modal.
`             <Modal animationType={"slide"}
                   transparent={true}
                   visible={this.state.visibleModal}>
                   <TouchableOpacity onPress = {() => {this.setState({visibleModal: false})} }>

                      <View style={styles.modalCo

[2017-07-21 17:20] marc314 commented on #42
Same issue for me as well. RedBox. On dismissal, the overlay is missing but the modal renders.

[2017-07-22 13:06] mmazzarolo commented on #42
I still have to take a look at it, hope I'll have some free time this evening.

Also, help on the matter would be super-apreciated (it is indeed a breaking change caused by the last version of React-Native) 🌟

[2017-07-24 06:57] mmazzarolo commented on #42
I just had the chance to test it on a clean react-native 0.46 install and it is working fine for me, so it might really be related to Expo.

Anyone else having the issue but **not** using Expo?

[2017-07-24 08:12] cosmocoder commented on #42
I am seeing this issue as well with Expo, and get the React Native error screen. On dismissing the error screen the modal is visible but without the backdrop.

[2017-07-24 10:24] mmazzarolo commented on #42
I just opened an issue on the [expo repo](https://github.com/expo/expo/issues/404).

[2017-07-26 22:40] jpca999 opened #44 "Where is the demo file ? the (animation pics) you have on the readme page ?"

[2017-07-27 01:36] lslvxy opened #45 "What's the difference between this and RN's Modal"
react-native also have a `Modal`  Component,what is the  difference?

[2017-07-27 06:40] KeabetsweFx commented on #42
Hello guys, quick update just change the version of your npm package from 19.0.0 to 19.0.1 and this should work like before.

[2017-07-27 07:14] cosmocoder commented on #42
I confirm that Expo SDK 19.0.1 fixes the issue. Thanks for reporting @KeabetsweFx.

[2017-07-27 07:26] mmazzarolo commented on #42
Thank you @KeabetsweFx and @cosmocoder for the feedback.

I'm closing the issue, feel free to open another one if needed!

[2017-07-27 07:26] #42 closed

[2017-07-27 07:29] #44 closed

[2017-07-27 07:35] mmazzarolo commented on #45
Under the hood `react-native-modal` uses react-native own's `Modal`.
`react-native-modal` aims at expanding the `Modal` component by adding animations and styles customization options while still trying to provide a super-simple API.

A requested feature much discussed [here](https://github.com/react-native-community/react-native-modal/issues/11) is adding a "touch outside to close" feature, but w

[2017-07-27 07:35] #45 closed

[2017-07-27 07:36] mmazzarolo commented on #45
I closed the issue but I'll re-open it if needed :)
Let me know if you need any more info on the subject!

[2017-07-27 10:57] jpca999 commented on #44
I'm new to this whole react thing. Can you pls provide a Example file.js ?

[2017-07-27 13:20] graphee-gabriel commented on #42
Thanks it works perfect :)

[2017-07-27 15:30] mmazzarolo commented on #44
It's in the README.md:

[code]

[2017-07-29 19:01] RichardLindhout commented on #11
Guys, my PR should fix it without too much changes.

You can also still make other handlers to e.g. buttons inside the modal.

![schermafbeelding 2017-07-29 om 21 00 21](https://user-images.githubusercontent.com/6492229/28747519-1159866a-74a1-11e7-85d2-c975a4d4a26d.png)

[2017-07-29 19:04] mmazzarolo commented on #11
Hi @RichardLindhout , thank you for the PR, I'll paste here what I already wrote in the PR thread:

[2017-07-29 19:34] RichardLindhout commented on #11
If you press the black it will close. The modal itself will not receive touch events but the children will.
See https://facebook.github.io/react-native/docs/view.html#pointerevents

So I can still have other handlers for my 'OK' button or select text inside the modal. (or date pickers for instance will still work)

![schermafbeelding 2017-07-29 om 21 31 37](https://user-images.githubusercontent.co

[2017-07-29 19:40] mmazzarolo commented on #11
@RichardLindhout I'm so happy to say that I was wrong, I fired up the emulator and it seems to be working perfectly so far!
It's super weird, because I tried an identical solution to the one you proposed when this issue was opened and it didn't work.
I guess this might be related to an update of React-Native, because I guess even @zhantx did try a similar solution in the past.

Thank you @RichardL

[2017-07-29 19:50] RichardLindhout commented on #11
@mmazzarolo Thank you, I will rename the variable.
Anyways below is a GIF which I made a few minutes ago to prove that it worked :)

![jul -29-2017 21-47-29](https://user-images.githubusercontent.com/6492229/28747784-ab6ae6d0-74a7-11e7-8129-6bf337b621c6.gif)

[2017-07-29 19:56] mmazzarolo commented on #11
@RichardLindhout No worries, I tried it with the example repo and it works indeed.
I just need a bit of testing from someone else too, because this modal is used in many different ways and I'd like to know if this feature will break anything.

Also, one last thing, for maintaining backward compatibility I think it would be better making `hideOnBackdropPress` default to `false`, what do you think?

[2017-07-29 21:54] RichardLindhout commented on #11
Yes I agree, I also did not tested on Android yet.

[2017-07-31 01:49] onfuns opened #49 "the modal will cover navigation"
hi,when i use modal with react-navigation,the modal will cover navigation,how can i set the modal's layer

[2017-07-31 05:18] #49 closed

[2017-07-31 09:39] ifiokjr commented on #11
I've just tested this on Android, and it doesn't quite seem to work. Tapping to the left or right will sometimes close the modal, but above and below have no effect.

I'll have a look at what's causing the issue later on - hopefully, today if I get time.

[2017-07-31 10:37] mmazzarolo commented on #11
@ifiokjr, thank you, I suspect that the modal content being defined as "flex" might be the root cause of the issue.
I still do not understand why it works on iOS though... Maybe it is something we should report and discuss on the react-native official repo too.

Also, @ifiokjr, what version of react-native are you using?

[2017-07-31 12:03] ifiokjr commented on #11
@mmazzarolo I'm using 0.46.4.

[2017-08-01 21:48] nidaorhan opened #50 "The statusbar turns white when the modal is open (only on certain devices)"
I have a component with status bar set to hidden like this:

[code]

When the modal is visible, status bar is hidden but instead there is an empty white block at the top with the exact height of the status bar:

![screenshot](https://user-images.githubusercontent.com/20864001/28848476-bf29b6bc-771b-11e7-857f-a6ef7edf17ad.png)

react-native : 0.45.1
react-native-moda l: 2.5.0
android : 5.1.1

[2017-08-01 22:21] JVRodrigues256 opened #51 "Navigation between screens with a button displayed in <Modal />"
Hello everyone.

I'm displaying a button inside Modal, but when I click the button and navigate between the screens, the modal continues to be displayed.

I would like that when you click a button, <Modal /> is closed.
Is there any way to do this?

SCREEN I:
![error i](https://user-images.githubusercontent.com/28905128/28849639-5a10ec50-76ee-11e7-829c-7de7b57867a6.png)

SCREEN II:
![error ii](http

[2017-08-02 06:47] mmazzarolo commented on #50
Hey @nidaorhan, could you try replacing `react-native-modal` with the [React-Native built in modal](https://facebook.github.io/react-native/docs/modal.html) and see if it has the same issue?

[2017-08-02 06:57] mmazzarolo commented on #51
Hi @JVRodrigues256, if I understood correctly what you're asking, this is more a "react pattern" issue then an issue related to react-native-modal.

Simply put, when the user click on your button you should first hide the modal, then start a navigation to your other screen.
Something like this should work:
[code]

FYI the modal stays visible even when switching screens because you're (probably)  p

[2017-08-02 09:56] Waltari10 opened #52 "Two modals at the same time"
Is it possible to have two modals open on top of each other? Right now if I try to render two modals at the same time it just renders the first one.

[2017-08-04 20:09] nidaorhan commented on #50
Yes, I tried, no issues with the React-Native built in modal

[2017-08-09 02:51] dark1991 commented on #11
use onPanResponderGrant for check your position tap.
You can use event.nativeEvent.locationY compare with pageY and set visible for modal.

[2017-08-13 08:11] mmazzarolo commented on #50
Sorry for being late, I was on holiday.
Could you provide an exact code example to reproduce the issue?

[2017-08-13 09:27] bronylexx commented on #11
Tapping outside to close works fine in the example from the repo (`git clone...; react-native run-ios`). However, whenever I try to replicate that behaviour in my own code, it never works. Is there something special in the example code?

[2017-08-13 11:07] bronylexx commented on #11
Looks like I was able to solve it by using git repo (`yarn add git-url`) as opposed to npm (`yarn add react-native-modal`).

[2017-08-13 15:40] mmazzarolo commented on #11
@dark1991 do you mind providing an example repo/snippet/PR?

[2017-08-13 16:16] mmazzarolo commented on #40
What is your `ListItem`in the snippet?
Could you provide an example repo or a more detailed example? Thanks.

[2017-08-13 16:17] #51 closed

[2017-08-13 16:19] mmazzarolo commented on #52
Could you try [this](https://github.com/react-native-community/react-native-modal/issues/30) solution?

[2017-08-13 18:38] alexkuc opened #53 "Executing function when showing or hiding modal as soon as possible"
Currently, there is onModalShow and onModalHide that allows to execute function. One of their downsides is that they execute passed function once the animation finishes. This makes it difficult to create synchronous animation.

Here's example below:
![onmodalhide](https://user-images.githubusercontent.com/3331946/29252386-9ccc7dda-8098-11e7-81cc-d00cf520e501.gif)

The plus button changes colour _a

[2017-08-14 04:01] dark1991 commented on #11
@mmazzarolo : Check this link first: https://facebook.github.io/react-native/docs/panresponder.html.
focus on locationX, locationY, PageX and PageY.

You can use console for log to see position you are tap on model view.
[code]
For more information, check here: https://www.youtube.com/watch?v=HzpuBZK3Ef0

[2017-08-14 04:57] mmazzarolo commented on #11
@dark1991, did you already try it with a `flex: 1` view as a child?
I'm asking this because me and some other users tried playing with it when the thread was stil new and it had some issue (especially on Android).

I can give it another try though 👍

[2017-08-14 05:09] mmazzarolo commented on #53
Hey @alexkuc!
I think I understand what you're trying to achieve, but you should already be able to do your own logic both when the hide animation starts (right before setting the `visible` prop of the modal to `false`) and when it ends (in the `onModalHide` callback).

The following snippet should reproduce the same behaviour you're requesting, let me know if I'm missing something 👍

[code]

[2017-08-16 07:17] mmazzarolo commented on #53
Closing, feel free to open another issue/submit the PR if needed 👍

[2017-08-16 07:17] #53 closed

[2017-08-16 07:18] mmazzarolo commented on #40
Closing, feel free to create a new issue if needed 👍

Also, please be aware that I created the following "new issue template" that, if followed correctly, will speed up a lot the issue resolution:

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](http

[2017-08-16 07:18] #40 closed

[2017-08-16 07:19] mmazzarolo commented on #50
Closing, feel free to create a new issue if needed 👍

Also, please be aware that I created the following "new issue template" that, if followed correctly, will speed up a lot the issue resolution:

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](http

[2017-08-16 07:21] mmazzarolo commented on #32
Hey @rpereira any update?
I can edit it by myself if needed, let me know :)

[2017-08-16 16:20] yash2code commented on #40
sure , will be on it soon :) Tnx for response!

[2017-08-16 21:54] tomasreimers opened #55 "How do you open the example?"
Hi,

I must be doing something wrong, but I can't seem to get the example working.

[code]

does not seem to be working for me. Can someone else confirms that it works for them so I can look into a my system specific bug?

Thanks,
Tomas

[2017-08-16 22:08] tomasreimers commented on #55
Lost in the sands of time.

Restarting my system fixed the issue. Seems to have been some bug with watchman.

[2017-08-16 22:08] #55 closed

[2017-08-17 08:31] tomasreimers commented on #11
@mmazzarolo, the problem is that when you create a layout-only view (one that only has other content and doesn't need to be explicitly rendered) and then change it to a non-layout-only view, it resets its pointerEvents to 'auto' (the default) on android. The animated.view library changes it to a non-layout-only view because CSS transforms are non-layout-only properties.

Long term fix (and further

[2017-08-17 08:37] mmazzarolo commented on #11
@tomasreimers that's great!
Unfortunately I'm not able to give it a test on Android yet (I'm still on vacation), anyone else willing to give it a try? @alexkuc @ifiokjr @RichardLindhout

[2017-08-17 18:51] impuulse opened #58 "Opening a Modal from a Modal"
[code]
second modal doesn't open, i'm using redux
plz help

[2017-08-17 19:16] mmazzarolo commented on #58
I'm sorry @impuulse but the info you're providing are not detailed enough for me to understand your issue.

Please take a look at the issue template below and make sure to complete all the required steps, it will speed up the issue resolution.

---

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` us

[2017-08-18 07:07] rpereira commented on #32
Hey @mmazzarolo, I'll do it during the weekend. Sorry for the long delay.

[2017-08-18 07:09] mmazzarolo commented on #32
@rpereira no worries man!

[2017-08-18 09:34] FacuAcosta opened #59 "backdropColor not showing on Samsung S6"
Hi people! I'm having a weird issue. If I run my application on a Samsung S6 with Android 7.0.0 the backdropColor is not showing.
![screenshot_20170818-101016](https://user-images.githubusercontent.com/19332669/29453084-560ac0ee-8400-11e7-95dc-5055f4d571a2.png)

I've tried the same app in an iOS 10.3 simulator and is doing good. I also tried it in the following Android devices and it's also doing

[2017-08-18 09:37] mmazzarolo commented on #59
Hello @FacuAcosta,
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Cold you try swapping `react-native-modal` with react-native original Modal component to check if the problem persists?

[2017-08-18 10:22] FacuAcosta commented on #59
Hi @mmazzarolo , I tried the Modal component and it's even worse because the background is not even showing on iOS. This behaviour is so weird because if it's working on Nexus 5 7.0.0 it "should" work on Samsung S6 7.0.0

[2017-08-18 11:04] mmazzarolo commented on #59
@FacuAcosta You mean that the default modal works correctly on Nexus5 but not on Samsung S6?
I guess you should report the issue on [react native repo](https://github.com/facebook/react-native/issues) then 🤔

[2017-08-18 11:24] FacuAcosta commented on #59
No, I mean that your modal is working everywhere except on Samsung S6. Maybe is because of Samsung's TouchWiz layer they use over Android?

[2017-08-18 11:27] mmazzarolo commented on #59
@FacuAcosta https://github.com/facebook/react-native/issues/13035

[2017-08-18 11:31] FacuAcosta commented on #59
@mmazzarolo Yeah, I'll try to see a workaround to fix this. Thanks for answering so fast!

[2017-08-18 11:34] mmazzarolo commented on #59
Thank you man!
Post here any progress/doubt about the issue, I'll try to help as much as I can (P.S.: This week I'm still on holiday and I can't test it).

[2017-08-18 13:29] FacuAcosta commented on #59
It seems that I've found what it's causing the bug, but this s*it makes no sense at all. If you activate Js Dev Mode ( _DEV_ = true), the modal is showing on Android with background and everything. If you deactivate Js Dev Mode (_DEV_ = false), the background is not shown. Do you know what can we do to fix this?

[2017-08-18 16:10] mmazzarolo commented on #59
Did you already tried building an APK with a release flavour and try it on a real device?
From my experience the Js Dev Mode can be a bit buggy sometimes.

[2017-08-18 17:57] FacuAcosta commented on #59
That´s the first thing I did. I built the app for Release on iOS and it´s working fine, but if I build the APK for Android the problem pesists. I´ve seen that when i close the modal, the backdrop is shown for a milisecond, so maybe It has something to do with the zIndex?

[2017-08-20 11:59] #58 closed

[2017-08-20 11:59] #52 closed

[2017-08-21 14:19] mmazzarolo commented on #11
Released on npm on `3.0.0`, I'll add the release notes this evening.
Anyone willing to give it a try?

[2017-08-21 16:07] mmazzarolo commented on #11
The release notes of `v3.0.0` are [here](https://github.com/react-native-community/react-native-modal/releases/tag/v3.0.0).
I already submit two other fixes (we're now on `v3.0.2`) and we should be stable now, any other test will be super appreciated.
Thanks to anyone who contributed on this issue!

[2017-08-22 11:08] alexkuc commented on #11
I am going to give it a shot shortly. Just wanted to clarify that I use the setup properly. Previously, I was wrapping inside of Modal with `<TouchableWithoutFeedback>`. With #11 being fixed, does it mean I no longer need to use `<TouchableWithoutFeedback>`?

[2017-08-22 11:11] mmazzarolo commented on #11
@alexkuc, yep, just set the visibility of the modal to false in the `onBackdropPress` callback :)

[2017-08-22 14:08] Doko-Demo-Doa commented on #11
Yesssssss
Since the issue is solved. I think it can be closed now.

[2017-08-22 14:08] #11 closed

[2017-08-22 14:18] mmazzarolo commented on #11
It took so long but we did it!  🎈

Feel free to open another issue if needed.

[2017-08-22 14:27] tomasreimers commented on #11
@mmazzarolo , I mean the bug was *literally* in compiler (or interpreter in this case): the optimizer of React Native's Java's ShadowNode tree. I think it's fair this one took a while to solve lol 😂

Now just to get react-native to accept their fix so we can remove our hacky fix. If you want to jump on and +1 the fix or add context, that would be much appreciated: https://github.com/facebook/react

[2017-08-22 20:22] Louis-T opened #60 "Modal margin improvement ?"
Hi,
First of all, thanks for this very useful package !

I just wanted to point out that the margin of the modal's content (`deviceWidth * 0.05`) seems to be problematic in some case (at least in mine, with the latest android emulator).

I noticed that since the margin value is not rounded, I sometimes get a "blank" pixel that I can't fill (for example, when trying to make some buttons at the bott

[2017-08-23 10:49] FacuAcosta commented on #59
Okay, so I've found a quick solution. If anyone is having the same issue, just wrap the modal content with a <View /> container that has style like:

`container: {
	    flex: 1,
	    justifyContent: 'center',
	    padding: 20,
	    backgroundColor: (Platform.OS === 'ios') ? 'rgba(0, 0, 0, 0.01)' : 'rgba(0, 0, 0, 0.7)'
  },`

This will work on iOS perfectly, but on Android we will have a little tra

[2017-08-23 17:01] mmazzarolo commented on #59
Thank you so much @FacuAcosta, maybe it should be worth mentioning the issue in the React-Native repo too?
What do you think?

[2017-08-23 17:03] mmazzarolo commented on #60
Hi @Louis-T, thank you for opening the issue.
I fired up the emulator and did some tests and I couldn't reproduce the issue.
Could it be caused by the emulator zoom of the emulator? Are you using still having the issue with the 100% zoom?  🤔

[2017-08-23 17:30] FacuAcosta commented on #59
@mmazzarolo If you have time and do some testings on the emulator so we are sure it´s not just an isolated problem that I had, that would be nice. The process is simple, create an app with a modal, show it and run it on Android with `_DEV_=false`. I had problems with the react-native Modal too on Android when trying to close the Modal with a button within it, so many headaches.

[2017-08-23 19:40] Louis-T commented on #60
Hi, I do not use the zoom on the emulator (always 100%).
But I get this bug on an XPS 13 with a 3200x1800 screen (that could be the problem).

I tried to change the Ubuntu scale (which I had set to 1.62 because 3200x1800 on a 13" screen is a little small !) but I still get the 1px white line when I'm with the native scale (1x)...

Anyway, it's not really problematic since I'm able to override the

[2017-08-29 18:14] #60 closed

[2017-08-30 16:06] vanhoutk opened #63 "onBackdropPress not functioning as expected on Android"
So I've been trying to use the newly implemented onBackdropPress to close a modal when the backdrop is pressed. As it wasn't working originally, I decided to replace the functionality with a console log to see when onBackdropPress is being called.

From what I can see, the only times it's firing off are when I open the modal originally, and when I close the modal using onBackButtonPress. Nothing s

[2017-08-30 17:20] mmazzarolo commented on #63
Hey @vanhoutk, thank you for submitting the issue, could you provide a bit more info on the matter?
Unfortunately your snippet in not enough for debugging it.

### When reporting a bug, please be sure to include the following:
- [x] A descriptive title
- [ ] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the

[2017-08-30 19:16] tanaytanay commented on #26
I would love to have this feature. Apart from that, everything is perfect.

[2017-08-31 00:02] vanhoutk commented on #63
@mmazzarolo, I've edited my original issue to provide more information. If there's anything else you'd like me to add just let me know.

[2017-08-31 05:30] mmazzarolo commented on #63
Thanks, the following won't work though:
[code]

Try replacing it with:
[code]

Let me know if the issue still persists.

[2017-08-31 08:36] vanhoutk commented on #63
Thank you, that fixed it. Oddly the former still actually logs "Pressed" any time the modal is open or closed, which is why I didn't realise the need for `() =>` to be included.

[2017-08-31 08:36] #63 closed

[2017-09-01 08:21] sejo2016 commented on #32
any update?

[2017-09-02 15:03] mmazzarolo commented on #32
@sejo2016, I just merged a PR made by @G3z that should address the issue, do you mind giving it a try (by running `yarn add git+https://github.com/mmazzarolo/react-native-modal-datetime-picker.git`)?

Thanks!

[2017-09-07 20:51] hironarita commented on #32
@mmazzarolo, I just installed the package and setting avoidKeyboard to true doesn't seem to work for me.

[2017-09-07 20:52] G3z commented on #32
hi, try this please https://github.com/react-native-community/react-native-modal/pull/65

[2017-09-08 05:38] yaraht17 opened #66 "How to disable swipe in outside modal"
When i have swipe in outside modal, navigation is go back or open drawer.
how to disable swipe when show modal?

[2017-09-08 07:11] HarshaVardhanPVK opened #67 "Not able to Trigger Android BackButton Action, when Modal is opened."
I am not able to trigger Android BackButton when modal is opened.
Here is my code

[code]

[2017-09-08 07:48] mmazzarolo commented on #67
Hi, there's a modal prop you can use to achieve the desired effect: `onBackButtonPress`

[2017-09-08 07:48] #67 closed

[2017-09-08 07:49] mmazzarolo commented on #66
Hi!
This is an issue related more to your navigation library than the modal itself.
You should simply disable the drawer (or any undesired gesture) when you open the modal.

[2017-09-08 19:38] seb0zz opened #68 "No animationOut instead of slideOutDown"
I've got a really strange behavior with this library and react-native 0.48. I am using the modal with default props. When I open the modal it properly uses the `slideInUp` animation. When I close the modal no animation is used even though it should be `slideOutDown` by default. Strangely - when I open the modal, then put the app into background, open the app again and close the modal afterwards -

[2017-09-08 19:53] brunolemos commented on #68
I don't get any animation out as well, tried `bounceOut`.
RN 0.48.2.

[2017-09-08 20:02] brunolemos opened #69 "Type outside to close does not work very well"
Sometimes when clicking in the black overlay area, the modal does not close.
Reproduction: https://snack.expo.io/Hy-hgKl5Z

react-native 0.48.1
react-native-modal 3.1.0
iOS 11 simulator

[2017-09-08 20:10] brunolemos commented on #68
It's working fine for me now. The problem was that the code was like this:
[code]

But you should not remove the modal from the tree, so this works:
<View>
    <MyModal isVisible={isVisible} />
</View>
[code]

[2017-09-08 20:45] brunolemos commented on #69
Ok, works fine after removing the `flex: 1` from the container. Not sure why though.

[2017-09-08 20:45] #69 closed

[2017-09-09 08:17] mmazzarolo commented on #68
Thanks @brunolemos for answering :)
@seb0zz could you provide an example of your issue?

[2017-09-09 08:18] #66 closed

[2017-09-09 16:30] seb0zz commented on #68
@brunolemos your hint was good 👍  Have to check something. Will re-open this issue if the problem remains.

[2017-09-09 16:30] #68 closed

[2017-09-10 16:07] notehaha commented on #26
+1 for this feature. please

[2017-09-15 09:56] hustlerism commented on #11
Hi I'm still having this issue.

`_hideModal = () => {
      this.setState({ isModalVisible: false })
  }`

Passed a function as prop to a custom component `<ModalBox />`

`onPress={this._hideModal}`

In `<ModalBox />`

`<Modal
      isVisible={this.props.isModalVisible}
      onBackdropPress={this.props.onPress}

It wont close after tapping on the backdrop. But when i use it in  `<Button />` insi

[2017-09-15 10:02] mmazzarolo commented on #11
Are you using Expo by any mean?
Could you try updating react-native?

[2017-09-15 10:29] hustlerism commented on #11
@mmazzarolo

Nope, i'm not using Expo.

Btw, the problem solved. The react-native-modal package didnt update properly. My bad.

Thanks for the quick response.

[2017-09-15 13:03] kallrobin commented on #50
Hi, i am also dealing with a similar issue
Running:
    "react-native-modal": "^3.1.0",
    "react-native": "^0.47.2",
    Multiple android versions apk 19-25

When i open my modal i want the Status bar to still be there to keep consistency in the app but when the modal shows the status bar hides. But since the rest of the app is designed to be below the status bar only a white bar is shown in the

[2017-09-15 16:59] mmazzarolo commented on #50
@kallrobin thanks a lot, I'm re-opening the issue, could you please provide a bit more info on the subject?
What device are you using?
Did you try it on more than one device?
Are you using an emulator?
What navigation library are you using?
Also, if you provide a snippet of the js file where you use the modal it would be awesome :)

[2017-09-19 04:40] Nickersoft opened #70 "Any way to specify custom animations?"
Hey guys, great library! I'm currently calling `initializeRegistryWithDefinitions()` on Animatable with my own animations, and tried using them in the "animationIn" and "animationOut" props of this modal. While it seems to work fine on iOS, I get the following error when running it on my Android device:

[code]

Which basically suggests that my animation isn't initialized by the time the modal app

[2017-09-19 11:51] mmazzarolo commented on #70
Hey @Nickersoft, thank you for opening the issue.
Since we don't have any platform check inside the modal, my first guess is that the issue might be somewhat related to react-native-animatable.
Maybe your `initializeRegistryWithDefinitions()` call conflicts with our internal call [here](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L10)?  🤔

[2017-09-19 11:54] mmazzarolo commented on #59
I'm closing the issue for now, feel free to write here again if @FacuAcosta solution doesn't work for you and I'll re-open the issue.

[2017-09-19 11:54] #59 closed

[2017-09-19 14:57] Nickersoft commented on #70
@mmazzarolo Yeah, I noticed that.. and actually, after running my code on Android then switching back to my iOS emulator, I was getting the same error there too. It almost seems like the only reason it was working before was a race condition of some sort (maybe my animations were the most recent to register?)

I was actually giving thought to adding custom animation support myself... however, I fi

[2017-09-19 16:51] mmazzarolo commented on #70
@Nickersoft glad you're interested in sending a PR!

I'll admit I'm not an expert of react-native-animatable, but I'll try to give you as much supported as I can.
First of all, the call to `initializeRegistryWithDefinitions()` was added in PR #17 to fix a breaking change of the sliding animation in a react-native-animatable update.

Regarding the `prop` to customize the animation: I'm not too keen

[2017-09-19 16:56] mmazzarolo commented on #70
Please note that if you're forking from master, there is still PR #65 that has not been published on npm (it should work thought, since it has been tested)

[2017-09-19 17:16] mmazzarolo opened #71 "Add more demo images to the README"
Hello everyone!
If you're interested, you can submit here a gif/video/info of your react-native-modal in action and I'll add it to the README.md and credit section 🌴

[2017-09-19 18:30] Nickersoft commented on #70
Hey @mmazzarolo, so I poked around the code and was able to make it so now the `animationIn` and `animationOut` can accept either a string (which uses an animation from the default registry) or an animatable registry object in the following form (as you would when registering it globally):

[code]

This approach leverages the `createAnimation()` and `registerAnimation()` methods of react-native-an

[2017-09-19 18:31] Nickersoft commented on #70
Oh, and you can check out my fix [here](https://github.com/Nickersoft/react-native-modal/commit/4140a807162b44809839c6065b689d8caed3de15).

[2017-09-19 18:35] mmazzarolo commented on #70
That's neat, I like this approach even more than the one I suggested.
Go with the PR 👌

[2017-09-19 18:37] mmazzarolo commented on #70
One more think, could you also update the README too?
Adding the prop to the list and pointing somewhere to the react-native-animatable docs (on creating custom animation) could be enough.

[2017-09-19 18:45] Nickersoft commented on #70
Sure thing. I'll get that done and post a link to the PR when I'm done. One question though... I noticed there is some type information in `index.d.ts`. It's obviously TypeScript (which I've never used) but to me looks a lot like Facebook Flow type checking (which I have used). Is the syntax the same? If so, I can go and update that too, as I don't want any type errors being thrown. I already upda

[2017-09-19 18:56] Nickersoft commented on #70
All set: https://github.com/react-native-community/react-native-modal/pull/72

[2017-09-19 18:56] mmazzarolo commented on #70
Yes, it's typescript typedefinition, but your change shouldn't break anything even without updating it.
Maybe @iRoachie ( 👼 ) can update it once the PR gets merged?

I also noticed one thing that can be improved in my opinion.
Since your declaring the animation info as a component internal field (`this.animationOut = animationOut`) you won't be able to update it at runtime.
I know that it might be

[2017-09-19 18:58] iRoachie commented on #70
Sure thing @mmazzarolo

[2017-09-19 19:05] Nickersoft commented on #70
Consider it done @mmazzarolo :) The PR is now updated.

[2017-09-19 19:38] mmazzarolo commented on #32
Landed on [v4.0.0](https://github.com/react-native-community/react-native-modal/releases/tag/v4.0.0), thanks @g3z and @rpereira.

[2017-09-19 19:38] #32 closed

[2017-09-19 19:41] mmazzarolo commented on #70
Landed on [v4.0.0](https://github.com/react-native-community/react-native-modal/releases/tag/v4.0.0).

@iRoachie, the only difference between this version and the previous one in the typedefinition is that the `animationIn` and `animationOut` props now can either be `string` or `{ from: Object, to: Object }` (don't know how to declare it in TS)

[2017-09-19 19:42] #70 closed

[2017-09-19 20:00] iRoachie commented on #70
@mmazzarolo Here ya go https://github.com/react-native-community/react-native-modal/pull/73

[2017-09-19 23:22] zamponotiropita commented on #50
+1

[2017-09-20 22:05] mmerickel commented on #34
I do not think this is directly related to the back button. Rather if isVisible gets toggled quickly while transitioning occurs some pretty bad things happen.

1) The refs gets nulled out temporarily which can cause the `backdropRef` and/or `contentRef` to be `null` which causes the promise rejection seen above. Semi-related is this issue https://github.com/facebook/react/issues/4533 but the real

[2017-09-20 22:08] mmerickel commented on #34
I've opened https://github.com/react-native-community/react-native-modal/pull/74 for this.

[2017-09-22 11:45] mmazzarolo commented on #34
@ccycecilyip could you give a shot to @mmerickel solution? Thanks!

[2017-09-25 07:31] tundak opened #75 "Do not work properly with NativeBase"
Do not work properly with NativeBase https://docs.nativebase.io/

Modal popup doesn't show.

[2017-09-25 10:58] jbyrneie commented on #11
Hi Guys

I tried the above suggestions but they dont work for me

When I click outside the modal my _hideModal() is not fired.

I am using RN 0.47.2 and react-native-modal 3.0.2

import React, { Component } from 'react'
import {StyleSheet, Text, TouchableOpacity, TouchableWithoutFeedback, View} from 'react-native'
import Modal from 'react-native-modal'

class ConfirmSchedule extends Component {

[2017-09-25 12:18] mmazzarolo commented on #75
Hey @tundak, could you please check the following template?

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Mod

[2017-09-25 22:18] PramodVemulapalli commented on #40
I ran into a similar issue and thought this might help you. The backdropOpacity parameter which is defaulted to 0.7 seems to create drastically different background transparencies for Android and Ios.
I ended up fixing it by using a platform specific parameter as shown below.
`
<View>
        <Modal
          isVisible={this.props.error != ''}
          animationIn={'slideInLeft'}
          animat

[2017-09-26 09:27] EnriqueDev commented on #50
I'm dealing with the same issue in RN0.48.

[2017-09-26 11:26] mmazzarolo commented on #50
Guys, could you please provide the info I asked above?

[2017-09-26 13:18] EnriqueDev commented on #50
**What device are you using?**
Samsung Galaxy A5 2017 - 6.0.1
Huawey Ascent P8 - Android 6.0

**Did you try it on more than one device?**
Read above

Are you using an emulator?
Read Above

**What navigation library are you using?**
Read-Native-Router-Flux

**Note**
When trying on android 4.4.2 on a BQ Aquaris 5HD it works properly.

[2017-09-26 14:11] mmazzarolo commented on #50
@EnriqueDev that's exactly what I suspected :(
I'll try to investigate, thanks for the info

[2017-09-26 14:17] kallrobin commented on #50
Hi!
Sorry for the delayed response.
But i can also confirm that its a problem with specific devices. So far i only encounter this problem om the nexus5.
All of my android tests had been on emulated devices.
And the navigation lib i'm using is react-navigation.
I decided that atleast on the app i'm developing now i'll just leave it and sadly users on the nexus 5 will have that white bar on top. Mig

[2017-09-26 14:19] mmazzarolo commented on #50
That's weird, I'm not having the issue on the N5 on simulator...

[2017-09-26 14:22] kallrobin commented on #50
Wow. That's strange!
That might indicate it has to do with some specific combination of libraries that i'm using together with the N5.

[2017-09-27 00:27] gasparteixeira commented on #50
Hey Guys,

I had same problem. I just put this` transparent={false}` props and everything is working on Android.

[2017-09-27 16:00] karan101292 opened #76 "keep modal open on back press."
Hi,
On android, modal gets disappear on back button press. How can I keep it open if user press back button.

[2017-09-27 16:41] karan101292 commented on #76
got it from source code.
hideOnBack={false}

its not in documentation.  closing it

[2017-09-27 16:41] #76 closed

[2017-09-27 19:19] mmazzarolo commented on #76
My bad, willing to submit a doc update? 📦

[2017-09-28 08:09] Stophface commented on #50
@gasparteixeira where exactly do you pass these props?

[2017-09-28 08:17] mmazzarolo commented on #50
@Stophface in the `StatusBar` component i guess... 🤔

[2017-09-28 11:35] gasparteixeira commented on #50
@mmazzarolo  and @Stophface  I put it in `Modal` from react-modal-native
[code]

[2017-10-04 07:44] nahuelr commented on #11
That works greats for me, only use one layer behind options.
u have to make touchable the content of modal, not the modal per se.

[code]

[2017-10-06 19:11] mmazzarolo commented on #75
Closing for inactivity

[2017-10-06 19:11] #75 closed

[2017-10-12 20:42] phantoxe opened #77 "How can i change the Style of this Modal?"
How can i change the Style of this Modal?

I do not understand the estructure of this component... :-(

Do you have a sample to me?

Thanks

[2017-10-13 07:11] mmazzarolo commented on #77
Hi!
What do you mean by "style"? What are you trying to achieve?
There are some examples [in the examples](https://github.com/react-native-community/react-native-modal/tree/master/example/src) directory.

[2017-10-13 07:11] mmazzarolo commented on #50
Can anyone confirm @gasparteixeira solution?

[2017-10-14 06:28] zmartell commented on #50
@mmazzarolo doesn't seem to work.

[2017-10-16 16:30] #77 closed

[2017-10-16 16:30] mmazzarolo commented on #77
Closing for inactivity

[2017-10-16 16:55] jbaek7023 commented on #11
Hi guys,

I just found this issue and tried hard to read all of your comments and suggestions.
Here is what I've tried
- Adding onBackDropPress(() => {this.props.hideModal()})
- Adding TouchableWithoutFeedback inside and outside of components
- other approaches...

Here is my the screen where I want to show my modal.
[code]

Here is modal component : CameraImageSelectModal.js
[code]

Thanks!!

[2017-10-17 03:26] jbaek7023 commented on #11
Nevermind. I just updated the react-native-modal to the newer version and it solved my problem. Thanks!!

(I was using 2.5.0 version lol)

[2017-10-17 15:37] joao-alberto commented on #26
Is someone working on this issue? I want to contribute

[2017-10-17 19:17] mmazzarolo commented on #26
Hey @joao-alberto, as far as I know nobody is working on it, and currently I don't have time to actively develop this feature.
If you're interested in tackling it I'll gladly help you though 👍

[2017-10-17 20:02] lukecwilliams commented on #63
@vanhoutk that call would happen anytime the component is mounted - console.log is called, and the resulting value (null) is set to onBackdropPress.

[2017-10-17 23:11] ODelibalta opened #79 "Can not seem to set height"
Below is all my dependencies. What I am trying to do is have the modal as a module. This the main screen that imports the modal screen.

[code]

This is the modal screen

[code]

Below is the end result. I've tried multiple height values. Width works. I've only looked at this on iOS.

![screen shot 2017-10-17 at 6 10 27 pm](https://user-images.githubusercontent.com/4956550/31693866-91ce3472-b366-1

[2017-10-18 15:19] mmazzarolo commented on #50
Might be related to [this issue](https://github.com/facebook/react-native/issues/9090#issuecomment-337624981)

[2017-10-19 08:45] kallrobin commented on #50
@gasparteixeira I understand why that seems to work. But it's not fixing the issue really.
All you are doing is making the background not transparent and by default it's white. So now the status bar looks "fine" but now i can't see the background (eg. the app).
Although there might be something there to look at. I just can't seem to find some solution.

[2017-10-19 22:15] gasparteixeira commented on #50
@kallrobin you right! I made an "ugly" solution. It worked for me and maybe it was not the right way....  I also did another weird thing. I set the background transparent and declare a View with background color inside this!

[2017-10-20 11:09] atchuthsai468 opened #82 "onBackdropPress function is not working"
this is my latest code i divide the  flex in two different parts i applied  onBackdropPress function to  blue color part but modal will not be colsed
![screen shot 2017-10-30 at 2 48 38 pm](https://user-images.githubusercontent.com/32636257/32163437-516a661e-bd82-11e7-9a56-0285f7e2cc0f.png)

import React, { Component } from 'react';
import { Modal, Text, TouchableHighlight,TouchableOpacity, View }

[2017-10-21 09:19] mmazzarolo commented on #82
Hi @atchuthsai468,
what is the alert function you're calling? it doesn't seem to be defined anywhere

[2017-10-21 10:32] sadi304 opened #83 "Modal temporary closes when App is minimized by Menu Button . Android ."
Hello,
i have used both the react native official modal and this one. I am asking for a help. Is there any way to prevent this behavior -> when the modal is open, if i press the menu button of the mobile (built in one) the modal flickers and closes temporary exposing the background view. Please see the attached video for clarification .
![20171021_163835](https://user-images.githubusercontent.com/

[2017-10-21 11:16] Norfeldt commented on #50
@gasparteixeira Would you mind sharing your "working" code?

[2017-10-21 15:52] mmazzarolo commented on #83
Hi @sadi304.
Never noticed it, but I still can't understand one thing: does it happen with the native modal too?

[2017-10-21 15:56] sadi304 commented on #83
@mmazzarolo
yeah same thing with native modal too. Don't know if there's an easy fix with style properties.

[2017-10-21 15:58] mmazzarolo commented on #83
Ouch, if it doesn't work with the native one I guess we should report it to the official react-native repo.
From your screenshot it seems you're not using a stock version of Android, do you know if the same issue happens on it?
Could you give it a try on a Nexus5 for example? (A simulator might be enough too)

[2017-10-21 16:12] sadi304 commented on #83
Surprisingly this is not happening on the emulator. I have just tested with Nexus 6 . API 23 (Genymotion) .
I was using Samsung Note 5, (Android Version 7.0) . Maybe the problem is with the device or perhaps that version from T-Mobile :/ . closing . Thanks for quick reply.

[2017-10-21 16:12] #83 closed

[2017-10-22 03:55] ruoyuruoshui commented on #50
@Norfeldt i have the same problem, this is my mode

`
<Modal
                isVisible={this.state.selectorVisible}
                backdropColor={'#303437'}
                backdropOpacity={0.5}
                style={{marginHorizontal: 0, marginVertical: 0, justifyContent: 'flex-end',}}
                animationIn={'slideInUp'}
                animationInTiming={500}
                animationOut

[2017-10-22 03:56] ruoyuruoshui commented on #50
I have the same problem, this is my code

` <Modal
                isVisible={this.state.selectorVisible}
                backdropColor={'#303437'}
                backdropOpacity={0.5}
                style={{marginHorizontal: 0, marginVertical: 0, justifyContent: 'flex-end',}}
                animationIn={'slideInUp'}
                animationInTiming={500}
                animationOutTiming={50

[2017-10-22 13:37] gasparteixeira commented on #50
Hello @Norfeldt
I did an experience to show you what I did. Let me know if it worked for you!

Please check out this experience on github:
https://github.com/gasparteixeira/react-navite-modal-exp or take a look at the only edited file
//App.js
`import React from 'react';
import { StyleSheet, Text, View, TouchableOpacity, StatusBar} from 'react-native';
import Modal from 'react-native-modal'

expor

[2017-10-23 00:53] ODelibalta commented on #79
Setting the flex 0 on modal style resolved the issue. This ticket can be closed. Sorry for not labeling it right. Thank you for helping and your great libs (I am also using datetime picker :) )

[2017-10-23 04:28] atchuthsai468 commented on #82
just now modified code check once

[2017-10-23 07:43] mmazzarolo commented on #82
I'm sorry, I can't understand what you are saying :(

[2017-10-23 07:44] mmazzarolo commented on #79
👍 no worries, have fun!

[2017-10-23 07:44] #79 closed

[2017-10-23 07:58] abdulrahman-khankan opened #84 "Delay & no animation"
Hi,

The modal takes too long to open and I cannot see any animations. When using the Modal from react-native it works fine and I can see the animation.

I tried including a console.log message and it prints right away, but it takes about 2 seconds after that for the modal to open.

Using
-react-native: 0.48.3
-react-native-modal: 4.1.0
And developing on android.

Please note that I have the exact

[2017-10-23 08:14] mmazzarolo commented on #84
Hi @abdulrahman-khankan
Are you working in debugging/development mode?
Try building a release APK and let me know if the issue persists.

[2017-10-23 08:17] abdulrahman-khankan commented on #84
@mmazzarolo works perfectly in release!
I suggest adding this as a note in the README.

Thank you very much for your fast response! :)

[2017-10-23 08:17] #84 closed

[2017-10-27 13:32] LastxTemplar opened #85 "Issue in Expo with Screen Orientation"
### When reporting a bug, please be sure to include the following:
- [ ] The same happens with the original modal from react-native
- [ ] Get code from here https://pastebin.com/GjipbY1i
- [ ] using "react-native-modal": "^4.1.0", on iOS
- [ ] I expect the modal to be shown in a landscape view, not switch to portrait

Short video on what is happening:
https://youtu.be/zeNi1UG2jZs

[2017-10-30 00:03] blackflamedigital commented on #85
Managed to fix this by adding
`supportedOrientations={['landscape']}`
to the modal as per documentation [here](https://facebook.github.io/react-native/docs/modal.html#supportedorientations)

[2017-10-30 09:11] mmazzarolo commented on #85
thanks @blackflamedigital
@LastxTemplar could you give @blackflamedigital solution a try?

[2017-10-30 09:15] LastxTemplar commented on #85
Hah, sorry, both usernames are mine, i solved it myself :)

[2017-10-30 09:15] mmazzarolo commented on #85
Ah-ah! Nice :)

[2017-10-30 09:15] #85 closed

[2017-10-31 06:25] sabiya115 commented on #51
@mmazzarolo i want to ask further one thing, your approach will take to second scree, but on coming back to previous screen, how do we get modal open , on back how we maintain the same screen as it was previous.
![image](https://user-images.githubusercontent.com/23252768/32210205-695b9878-be32-11e7-9217-83eb8251cb59.png)

[2017-10-31 08:18] mmazzarolo commented on #51
You can't simply "leave the modal open", you must show it again (for example by setting the `isVisible` to true when your route gets focused)

[2017-11-02 03:34] ghoshabhi commented on #82
What is the `onRequestClose` function ? Is it not `onBackDropPress` ?

[2017-11-02 03:51] hoscarcito commented on #51
I undestand what you say @mmazzarolo , but doesn't the modal belong to the screen as a component from THAT screen?
I mean, I open a screen, then click on a button and a new screen is pushed. Why the modal is still in this new screen if it belongs to the first one?
Thanks in advance!

[2017-11-02 04:47] wkoutre commented on #51
@hoscarcito

It really depends on how you have your app's navigation set up.

Generally speaking, though, a Modal is a component being overlayed over the app. No matter what screen is on the top of the Nav stack, if the Modal's `isVisible` prop is true, it will be shown.

For example, in one of my apps I have a custom "Alert" component. It's a Modal, is always rendered under my Redux Provider, and

[2017-11-02 05:24] atchuthsai468 commented on #82
sry not onRequestClose just now i modified my code can you check once

[2017-11-02 05:24] hoscarcito commented on #51
Ok. so the "problem" here is that the react-native modal is on top of the app, no matter which component/screens it belongs to. I thought it has something to do with components hierarchy.
I'll go with your solution but I guess a custom component with position absolute and visibility through a state would be better for this because I need this modal just for this screen.

Thanks for all your work!!

[2017-11-02 08:15] mmazzarolo commented on #82
@atchuthsai468 you still have an "alert" function not defined anywhere in your code.

Please @atchuthsai468 try [the example here](https://github.com/react-native-community/react-native-modal/tree/master/example) first, then adjust one of that modals to better suit your needs.

[2017-11-02 08:22] mmazzarolo commented on #51
Thanks @wkoutre for taking the time for the perfect explanation.

@hoscarcito you can still try implementing `react-native-modal` with your navigation router. I did it some times ago in `react-native-router-flux` and it worked perfectly: in my case I simply had to define a route and handle the modal behaviour using the navigation triggers (I can't be more specific right now, but if you're interest

[2017-11-05 19:29] thanhpcc96 commented on #82
@atchuthsai468 style={{flex:1}} caused this problem

[2017-11-06 09:01] sqlProvider commented on #30
is this working? I can't still show two modal in same time.

[2017-11-06 10:45] mmazzarolo commented on #30
@sqlProvider it should work
also, this issue is related to react-native's original modal and is not specific to react-native-modal :(

[2017-11-06 10:46] mmazzarolo commented on #82
@atchuthsai468 onBackDropPress should work with `flex: 1` too, could you provide a reproducible example?

[2017-11-06 16:06] wkoutre commented on #30
@sqlProvider The only way I can have two modals at the same time is by nesting the second inside the first.

In my case, the second modal is a confirmation box based on something being done in the first modal.

[2017-11-06 23:23] hoscarcito commented on #51
@mmazzarolo OHHHH!! that would be great!!
I'm kinda lost with this because I have like a list of post and all of them dispatch a modal with its comments, and like facebook from there I can go to a different profile, but when I hit back, I don't know how to get the modal up with the same info. I thought to store the display status of the modal, but I think its too complicated because I have to turn

[2017-11-07 13:06] sqlProvider commented on #30
@wkoutre @mmazzarolo
I close first modal when second modal is showed. After second modal done I set first modal's visible. Fixed but so hackable.

[2017-11-09 21:08] therealaldo commented on #68
I'm running into this same problem where the out animation isn't properly working. I've tried using different out animations and the modal continues to just fade out when closed.

React 16.0.0.alpha-12
React Native 0.48.3
React Native Modal 3.1.0

[2017-11-09 21:17] mmazzarolo commented on #68
@therealaldo did you already check if the issue persists in release mode? also, are you on iOS or Android?

[2017-11-09 23:16] therealaldo commented on #68
@mmazzarolo I haven't checked to see if it works in release mode yet, and I'm on iOS currently. Going to check to see if it works in release mode.

[2017-11-09 23:25] therealaldo commented on #68
@mmazzarolo The issue still persists while running in Release mode.

[2017-11-10 00:08] therealaldo commented on #68
Weirdly enough, the issue went away. I deleted some extra this.setState stuff when I would open the modal which I think was causing the issue.

[2017-11-10 08:12] mmazzarolo commented on #68
Glad you solved it :)

[2017-11-16 21:08] sunweiyang opened #87 "Ability to swipe up/down to make modal appear/disappear?"
I need to create a modal that can be summoned by a swipe up and dismissed by a swipe down. Is that currently possible with react-native-modal?

(Ideally the animation would track the swipe at any intermediate swipe position as well.)

[2017-11-17 01:22] dbartelmus commented on #87
Im not related to this project but I think it’s only possible with predefined points in view window (20px on bottom ex.), then you just need to add swipe like action related to closing action.

[2017-11-20 08:44] mmazzarolo commented on #87
Nope, it is not currently supported unfortunately.
@dbartelmus is on the right path in my opinion.
Anyone willing to give it a shot in a PR?

[2017-11-20 08:45] #82 closed

[2017-11-20 08:45] #34 closed

[2017-11-20 10:52] atchuthsai468 commented on #82
I remove style={{flex:1}} in main view. but it is not working

[2017-11-27 22:52] henkvhest opened #90 "Android: how to remove onscreen buttons white bar"
I started up the example project and I noticed a white bar on my Android device. I assumed the whole background would be covered by the backdrop. The white bar is right where the onscreen buttons usually are, and flicking up the onscreen buttons does indeed hide this white bar. Is this by design or is it a bug? Or is there a way to ignore the bar when the onscreen buttons are hidden?

![e0f4c996-3

[2017-11-28 07:04] mmazzarolo commented on #90
Hey @henkvhest  thanks for opening the issue.
It is not by design, it might be a bug.

Could you please update your issue with the info from the [ISSUE_TEMPLATE](https://github.com/react-native-community/react-native-modal/blob/master/ISSUE_TEMPLATE.

[2017-11-28 10:20] henkvhest commented on #90
@mmazzarolo Updated the original post

[2017-11-28 10:33] mmazzarolo commented on #90
@henkvhest awesome, I'll take a look at it as soon as possible, thank you!

[2017-11-28 13:14] henkvhest commented on #90
I'll try tonight once I get home.

[2017-11-28 13:35] henkvhest commented on #90
@mmazzarolo I was able to grab a phone from someone else quickly. It has no white bar and is running Android 4.4.4 (Samsung Galaxy J1). I don't think Android 4.4.4 has support for onscreen buttons though, so I guess that explains a bit.

[2017-11-28 15:10] henkvhest commented on #90
I played around a bit with it some more. I noticed that sometimes the white bar is the size of the statusbar and sometimes it's the size of the onscreen buttons. I managed to fix the statusbar size by changing the calculated screen width and height in index.js in state aswell as in the _handleDimensionsUpdate (https://github.com/react-native-community/react-native-modal/blob/master/src/index.js)

[2017-11-28 15:14] mmazzarolo commented on #90
From my understanding it might be and issue device-related with the device size detection 🤔
Give a try to the modal using any Nexus device and you'll see that it works correctly.

[2017-12-06 12:51] LorandP opened #91 "Avoiding keybord squashes a view on top of the screen on android"
I have some views, two buttons and a textInput in my modal.
I have used the avoidKeyboard property and when the keyboard shows, my view that holds the textInput is squashed on top of the screen.
I already use _android:windowSoftInputMode="adjustResize"_ in my manifest.

Image that shows the actual behavior
https://imgur.com/a/l6Sf4

I expected to have my view pushed up just as much as to avoid the

[2017-12-06 12:53] mmazzarolo commented on #91
Hi @LorandP , thanks for submitting the issue.
Could you give PR #89 a shot?

[2017-12-06 13:13] LorandP commented on #91
I have already solved the problem by putting a KeyboardAwareScrollView inside the modal and put all my views inside the KeyboardAwareScrollView but I wanted to submit this for you to know. I didn't see it posted before so I thought it would help you guys know about this.

[2017-12-11 10:36] Versus2017 opened #92 "The modal emits a "flash" when used with useNativeDriver=true"
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal component to check if the problem persists.

### When repo

[2017-12-11 11:11] Versus2017 commented on #92
#### I found that react-native-modal didn't clear all the content view when you want to close it. it will apparently show a flash view when you use `useNativeDriver`, finally I found it related to `Modal` class of `react-native`.

#### Here is the error:
My code just like this:

    <Modal
        backdropColor={'black'}
        backdropOpacity={0.5}
        useNativeDriver={true}

        <View s

[2017-12-11 11:21] mmazzarolo commented on #92
Hey @Versus2017 , thanks for submitting the issue.
It's is still not totally clear to me what kind of "flash" you're experiencing.

I don't know if it can be useful to you but I'm using this modal in some applications with huge lists and heavy renders and my approach is almost always to hide the content of the Modal before setting its visibility to false/true.

Regarding your suggestion: unfortuna

[2017-12-11 11:27] Versus2017 commented on #92
Yeah, thanks for replying, I  just noticed that we can only use Modal to show our content on the top of the screen.
I will have a try about that. thanks so much~

[2017-12-11 12:59] henkvhest commented on #90
Got my hands on a nexus device, seems to be indeed related to the device in question.

[2017-12-11 13:09] henkvhest commented on #85
@mmazzarolo Had the same issue on an iPhone 5s with iOS 11.0 (15A372). Can confirm that @blackflamedigital solution worked, added the following to the modal inside index.js:

` supportedOrientations={['portrait', 'landscape']}`

[2017-12-11 19:51] wkoutre commented on #92
@Versus2017 I have the same problem you’ve described. The flash goes away if I don’t use the native driver. The content of my modals isn’t very complex, though, so using the JS thread for animation isn’t an issue for me.

[2017-12-11 21:08] roblingle commented on #40
Thanks @PramodVemulapalli. I had to use 0.1 for Android.

[2017-12-12 00:49] mmerickel commented on #92
I'm experiencing this as well and can confirm that the issue goes away if I set `useNativeDriver={false}`.

[2017-12-12 02:55] Versus2017 commented on #92
@mmerickel yes, you and me have the same problem now, and if I set `useNativeDriver={false}` , my animation seems not so smooth sometimes. so I need use useNativeDriver.

I just tried what the author said that hide the content of the Modal before setting its visibility to false.  It did solved my problem, the quick flash almost disappear (sometimes it still shows, but it better than before), but t

[2017-12-12 03:15] Versus2017 commented on #92
@mmazzarolo I think your idea is the solution. but why can't we do that in your react-native-modal code. I just tried in your code. it's perfectly worked and without any flash again, and the animationOut is still exist.

I just add a state prop `showContent` just like you said, I need  hide the content of the Modal before setting its visibility to false, So I use showContent prop to hide the conte

[2017-12-12 07:23] mmazzarolo commented on #92
Thanks everyone for the discussion!
I wasn't aware of the issue of the `useNativeDriver={true}`... which is something I'm not totally in control of since it is related to react-native-animatable.

We can do it! I simply never thought it could have been an useful feature.
The only issue I see on adding it is that it might lead to further props/customizations that would make the modal even more comp

[2017-12-12 07:37] mmazzarolo commented on #40
Thanks @PramodVemulapalli, but I guess it might be device-specific 🤔

[2017-12-12 08:38] Versus2017 commented on #92
#### On the one hand, I think your concern about that is right, it may actually confuses newcomers,  and most of users may never meet the problem which happend to me.  On the other hand, It is necessary for developers who need more higher performance of animation, and has more complex content with heavy render, just like me. It is big problem for them.

#### Here is our logic:
- we need more highe

[2017-12-12 17:48] gianpieroc commented on #49
@onfuns Hello!!.. do you have any conclusion? I'm facing a similar issue with react-navigation

[2017-12-13 14:54] RichardLindhout commented on #92
May be related to https://github.com/oblador/react-native-animatable/issues/122

[2017-12-13 18:18] wkoutre commented on #92
I agree with @Versus2017 when he writes:

[code]

I don't see how it would create any side effects if this is the standard, implicit functionality when using `useNativeDrive={true}`.

[2017-12-14 08:09] mmazzarolo commented on #92
The issue I can see is that this solution would hide the content of the modal for the entire duration of the animations. This could lead to nasty visual effects, especially if the user sets an high animation timing.

[2017-12-14 11:01] Versus2017 commented on #92
I think you should have a try with `useNativeDriver={true}` if you don't exactly know where the problem is. And I take some test with react-native-modal examples with useNativeDriver={true}, and it hardly show the quick flash, but when I add some other components to the content to make it a little more complex, it actually shows the quick flash after you tapped the close button.

The problem which

[2017-12-14 16:25] wkoutre commented on #92
What happens when changing:

[code]

to

[code]

I guess my question here is: Are you certain the flash happens when `isVisible` is set to false? I think I remember coming to the conclusion that the flash actually happens when `onModalHide` is called — when I was first testig, it always occurred right after the amount of `ms` I set the hiding animation to be.

[2017-12-14 19:45] RichardLindhout commented on #92
Here is a GIF which illustrates the problem.
![dec -14-2017 20-44-56](https://user-images.githubusercontent.com/6492229/34011245-aff588d4-e10f-11e7-8d39-ddd1bd13a4a9.gif)

[2017-12-14 19:47] RichardLindhout commented on #92
![dec -14-2017 20-47-20](https://user-images.githubusercontent.com/6492229/34011341-037bd2e2-e110-11e7-82e1-cd1e8bd76697.gif)

[2017-12-15 02:22] Versus2017 commented on #92
@RichardLindhout I test it with a high animation timing, I found it happen when animation finished, so I don't think that it is react-native problem. you also can have a try, the problem you can see is modal disappear without animation

[2017-12-15 19:35] RichardLindhout commented on #92
Hmm.. I still think it's a react-native problem since it's a difference in result when using the nativeDriver.
It's just a prop to the Animated object in React Native.

https://facebook.github.io/react-native/docs/animated.html

But there's no doubt that there will be a work-around to fix this nasty effect. If I have some spare time I'll dig in to it.

[2017-12-15 19:36] RichardLindhout commented on #92
Interesting issue: https://github.com/facebook/react-native/issues/14219

[2017-12-15 19:41] RichardLindhout commented on #92
Same issue: https://github.com/oblador/react-native-animatable/issues/148

Seems to be a problem which can be tracked down to react-native-animatable and probably react-native.

[2017-12-16 00:20] wkoutre commented on #92
@RichardLindhout Have you tried adding `this.props.onModalHide` to the callback of setting state's `isVisible: false` replacing the current synchronous implementation?

[2017-12-18 10:10] nichesoftgh04 opened #93 "Content is not scrollable?"
### Problem:
When content of the modal is not fitting inside the modal then there should be a feature to enable scroll bar. If this option already exists then it should be documented properly.. right now i don't see anything related to scrollbar?

[2017-12-18 17:53] RichardLindhout commented on #92
Hmmm could not reproduce this flash bug when making a simple modal with react-native

[code]

[2017-12-19 03:47] Versus2017 commented on #92
@RichardLindhout I agree with you about that maybe it is react-native animated problem. but I have fix this issue in my own code, I removed the content after animation, so I think it is not the main problem about react-native Animated animation. here is my code https://github.com/Versus2017/react-native-modal.  There will be no more flash again.

[2017-12-20 10:32] RichardLindhout commented on #92
@Versus2017 Thanks for your repository. We wil probably switch branches.

[2017-12-20 10:37] mmazzarolo commented on #92
@Versus2017 @RichardLindhout @wkoutre sorry guys but I've been super busy lately, I hope to take a closer inspection at the issue during my xmas holiday.
In the meanwhile, thanks for your contributions :)

[2017-12-20 14:49] webraptor commented on #50
Can be fixed with https://github.com/facebook/react-native/issues/7474#issuecomment-288814366

[2017-12-21 07:27] nichesoftgh04 commented on #93
Is this repository still maintained?

[2017-12-21 07:52] mmazzarolo commented on #93
@nichesoftgh04 Yes, I'm sorry but I'm just really busy right now (pre-christmas), I'll try to take a closer look at the issues next week.

However, your issue should be solved by adding a ScrollView inside the content modal, give it a try.

[2017-12-21 07:53] #91 closed

[2017-12-21 07:54] #87 closed

[2017-12-21 11:37] BalalRaza commented on #93
I have a FlatList inside Modal. When it has lot of rows, it just overflows and there is no scrolling. We could have something like a max-width or something, so that for scrollable lists, the modal expands only upto that mark and the list hence becomes scrollable.

[2017-12-21 12:39] mmazzarolo commented on #93
@BalalRaza did you already tried playing with the style of the modal?
Try setting a fixed width/height for example.

[2017-12-22 08:56] Stettinum opened #94 "shadow for modal"
Hello i want to add shadow for modal.

Is there any option to do that ? What is the best way to achieve that ?

[2017-12-22 09:00] mmazzarolo commented on #94
Hey @Stettinum, try providing the shadow/elevation props to the `style` prop of the modal.

[2017-12-22 13:09] RichardLindhout commented on #92
@Versus2017 I have the same problem with your repository.

[2017-12-22 13:25] RichardLindhout commented on #92
@Versus2017 I keep getting the same flash with your repository

[2017-12-26 20:44] steveccable opened #95 "Unable to update backdropOpacity of an open modal"
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:

Since this bug is with the backdrop, which is a custom View being added by this library, I am quite certain the issue is not in the Modal component.

### When reporting a bug, please be sure to include the following:
- [x] The outcome of the `react-native-modal` swap described above
  -

[2017-12-26 21:53] mmazzarolo commented on #95
Thanks @steveccable, the issue description is top notch 👌
At the moment I'm not able to take a deep look at it but both your solution seems good to me.
Just one thing, maybe I'm missing something (I'm on mobile atm) but another option that wouldn't involve any big change to codebase might be checking in the `componentWillReceiveProps`/`componentDidMount` if the `backdropOpacity` prop changed, and

[2017-12-26 22:13] steveccable commented on #95
Oooo you're right, the same effect can be achieved by just dropping the following code into `componentWillReceiveProps`:

[code]

And then if I do that, the transition timing is preserved and we don't have to disable the transitions overall to still have an open modal's opacity be possible to update.  Adding this to the list of available solutions.

[2017-12-26 22:15] mmazzarolo commented on #95
Yup, I'd go with it for the same reason you already stated 👍
Let me know if you can send a PR for it, otherwise I'll do it when I have some free time!

[2017-12-27 13:56] cccRaim commented on #30
@wkoutre hey, when I use `Modal`, the second is not work when the first is show, so `overlays` is impossible.

[2017-12-27 14:52] wkoutre commented on #30
@cccRaim, is this when you're nesting the second Modal inside the first? That's the only way I've found success for this.

[2017-12-29 16:22] steveccable commented on #95
I'm going to be out for the first week of the new year, but will try to get a PR up once I get back.  If you want to address it sooner, feel free to do so, and if not I will be back later.

[2018-01-02 14:41] RichardLindhout commented on #92
@Versus2017 You're right, I used https://github.com/mmazzarolo/react-native-modal-datetime-picker and this library has another dependency so I'm probably going to fork that one ;)

[2018-01-02 14:45] RichardLindhout commented on #92
@Versus2017  Done: https://github.com/profects/react-native-modal-datetime-picker.

Works like a charm! Thanks ;)

[2018-01-02 15:44] Versus2017 commented on #92
@RichardLindhout I'm glad it's work. you are welcome!

[2018-01-02 15:50] mmazzarolo commented on #92
Issue recap:

**The issue:**
Using the native driver on the modal (`useNativeDrive={true}`) introduces a nasty "flash" while animating it. We still haven't discovered what is causing it.

**The fix:**
One fix that I proposed for this issue is hiding the entire content of the modal while it is animated, and it has been implemented in [this branch](https://github.com/Versus2017/react-native-modal).

[2018-01-02 15:50] #94 closed

[2018-01-02 15:50] #93 closed

[2018-01-02 15:50] #71 closed

[2018-01-02 15:58] Versus2017 commented on #92
@mmazzarolo Thanks, The summary is exactly right, and I think we should dig deeper about this issue, and I will try to find out why this happened when I am free ( i'm busy these days), and Thanks for all. Happy 2018~

[2018-01-03 16:18] bnii opened #98 "question: behaviour seem to fall back to standard react native Modal"
hi,
this is most probably not a real issue and I should have been figured out myself already, but I hope somebody catch my mistake at the first sight.

The modal component in the below example doesn't seem to take into consideration any specific props - neither the animation and backdrop ones, and component behaves like the default Modal from React Native.

My expectation would be that the backgro

[2018-01-03 16:46] mmazzarolo commented on #98
Hi @bnii !
That's weird, could you try with a simpler example on expo and see if it works correctly?
You could try directly with the one you can find in the README.

[2018-01-03 17:20] bnii commented on #98
ok, it was my ignorance as expected.

as i was trying to replace an existing standard `<Modal/>` , I forgot to replace the `visible` prop and I read it again and again as `isVisible` - it was really misleading that a modal actually popped up and got hidden as expected - as i guess the props were passed down to the backing stock `<Modal/>` directly .

maybe it would worth to "block" the propagation

[2018-01-03 17:20] #98 closed

[2018-01-03 19:34] ethanyuwang opened #99 "Dismissible modal?"
Is there a way to make the modal dismissible by clicking the background area?

[2018-01-03 20:07] mmazzarolo commented on #99
Just set the `isVisible` prop to `false` when the `onBackdropPress` prop is called.

[2018-01-03 20:07] #99 closed

[2018-01-05 02:15] VanessaChu opened #100 "Failed prop type: The prop `children` is marked as required in `ReactNativeModal`, but its value is `undefined`"
I pasted the code from react-native-modal example into my own. I'm not sure why when I click the button, I get a warning "Failed prop type: The prop `children` is marked as required in `ReactNativeModal`, but its value is `undefined`" and the modal does not show. The example code works on its own but not in my code.

The warning is shown at
<Modal isVisible={this.state.visibleModal === 1}>{this._r

[2018-01-05 09:30] mmazzarolo commented on #100
Hello @VanessaChu
Please try with the example in the README.md, which is even simpler than the one provided in the example dir.

[2018-01-05 14:24] ssashanks opened #101 "Better documentation?"
This is not a bug/issue. Sorry if I am not using this correctly.
I am a beginner with react native. The example animated modals are great! (in the sample video), but I discovered that they are not out of the box. I decided to try this only because writing my own modal designs would be a time consuming process. Better 'out of the box' sample code would be really helpful!

btw, the code under /examp

[2018-01-05 14:30] mmazzarolo commented on #101
Hey @ssashanks, thank you for the feedback!
Yeah, I'm aware of the improvements we can make to the docs, I'll try to work on it improve them in my free time.
In the meanwhile, if you're interested, you can start a pull request that can be used as a starting point for the improvements 👍

[2018-01-06 22:40] mmazzarolo commented on #101
In the meanwhile, I updated the README.md 👍

[2018-01-06 22:40] #101 closed

[2018-01-06 22:41] #100 closed

[2018-01-09 16:31] steveccable commented on #95
@mmazzarolo Created a PR at https://github.com/react-native-community/react-native-modal/pull/103

[2018-01-09 20:19] mmazzarolo commented on #95
Merged, thank you!

[2018-01-09 20:19] #95 closed

[2018-01-10 18:07] slorber commented on #30
I don't use this lib but according to my tests, stacking modals on top of each others work fine on Android only :(

[2018-01-10 21:33] kerkness opened #104 "Modal view is off centre"
Thanks for this modal component.

All of my modals are rendering slightly off centre to the right by maybe 15/20 points.  It would appear the component isn't figuring out the correct dimensions of my devices. Or at least the modal appears to be the correct size but it's not finding the centre.  I am testing on Android and iOS devices as well as simulators.

I wasn't able to reproduce the issue usi

[2018-01-10 23:10] kerkness commented on #104
Upon further testing it appears the issue is in my implementation and how I'm styling the child components.   I implemented your full example into my current project without issue.

[2018-01-10 23:10] #104 closed

[2018-01-11 10:49] theohdv commented on #26
As [react-native-modalbox](https://github.com/maxs15/react-native-modalbox/blob/master/index.js) seems to not be maintained anymore, I would like to add this feature to this component.

As this modal can enter the screen from top, bottom, right and left. I think we should add a prop to indicate in which direction we want the feature 'swipe to close' to be available (`swipeDirection` maybe?). I don

[2018-01-11 11:01] mmazzarolo commented on #26
@theohdv that would be great!

I totally agree with the `swipeDirection` prop.

Honestly I never tried to implement this feature so I won't be able to guide you on a PR, but I'll try to help you as much as possible: just post a comment in this thread if you have any question or if you need support :)

Thanks!

[2018-01-11 18:00] theohdv commented on #26
I have few questions about the behaviour of the modal:
- If `animationOut` is set to "slideOutLeft" for example and `swipeDirection` is set to right. When the user swipes the modal to the right, does the modal need to be close using the `animationOut` prop (so in this case on the left) or it should disappear on the right of the screen?

- I added a `onSwipeClose` prop which is called when the `swi

[2018-01-11 18:31] mmazzarolo commented on #26
In my opinion the `animationOut` prop could be completely ignored if the user is swiping the modal.

In my honest opinion, since this is a controlled component, repositioning the modal on the initial position seems the best option to me. What do you think?

Great questions, it seems you're right on track here 👍

Also, no worries about your english, it's pretty good 🎉

[2018-01-12 10:09] theohdv commented on #26
Yes I was also thinking that it was the best behaviour. Thanks for the details!

[2018-01-12 16:43] mmazzarolo commented on #26
@theohdv no worries for the prettier part, I'll take a look at it by myself 👍

@ Everyone else: @theohdv has release a PR #105 addressing the swipe functionality

[2018-01-12 20:50] mmazzarolo commented on #26
Released on [v5.0.0-0 pre-release](https://github.com/react-native-community/react-native-modal/releases/tag/v5.0.0-0), thanks!

[2018-01-14 19:36] #26 closed

[2018-01-18 17:04] rochapablo commented on #91
Even adding ```KeyboardAwareScrollView``` the modal still been cropped. Is there any other solution?

[2018-01-18 17:35] rochapablo commented on #91
Solved! Here's what I did:

[code]

[2018-01-19 19:08] lukewlms commented on #30
I was able to fix this by **only** setting the second modal's `isVisible: true` **after** the first modal is fully hidden (onModalHide).  Trying to show the second one before the first one is fully dismissed results in a frozen UI state or no modal.

If nesting, make sure you don't show the inner nested modal until the outer modal is **fully** shown, if you show it before that again you'll get bad

[2018-01-20 02:45] slorber commented on #30
thanks for reporting that @lukewlms  this will certainly be useful to someone. In my app I've choosen to go with a react-navigation StackNavigator and it seems fine so far?

[2018-01-21 00:15] Nokia12 opened #106 "Solve the problem of a black screen for Need for Speed Android"
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal component to check if the problem persists.

### When repo

[2018-01-21 05:54] garan82 opened #107 "[q] how to use animation provided by react-native-animatable"
I have a quick question. I'm sorry if it sounds silly, I've looked at stackoverflow but did not find anything. So how can I use animation from react-native-animatable with react-native-modal? Specifically, the prop **animationIn** for react-native-modal can be a string or object, I'd like to use an existing animation provided by react-native-animatable, say **bounceIn**. How can I pass bounceIn to

[2018-01-21 19:49] mmazzarolo commented on #106
Please fill the issue template before submitting the issue.
Thank you!

[2018-01-21 19:49] #106 closed

[2018-01-22 07:38] mmazzarolo commented on #107
Just set `animationIn="bounceIn" and you'll be good :)
Example:

[code]

[2018-01-22 07:38] #107 closed

[2018-01-25 13:12] MyGuySi opened #108 "Swipe to dismiss not working"
I'm unable to get the swipe to dismiss feature to work at all. Here's my code:

[code]

Pretty sure I've followed the instructions correctly but swiping does not work at all, any help would be appreciated :)

[2018-01-25 17:22] toussa commented on #50
@webraptor well, this workaround does not work with Expo.

By the way, I can confirm the problem with react-native: 0.50.3, expo and Google Nexus 9 - 5.0.0 (API 21)

[2018-01-26 01:43] adeelraza commented on #92
+1

[2018-01-26 14:37] LouisJS commented on #108
The Swipe Feature is implemented in the [v5.0.0](https://github.com/react-native-community/react-native-modal/releases/tag/v5.0.0-0) release.

Make sure you're using it. By default if you install the package, you'll have the `4.1.1` version.

Checkout PR [#105](https://github.com/react-native-community/react-native-modal/pull/105) in order to have an idea of how to handle the swipe gesture

[2018-01-26 14:38] mmazzarolo commented on #108
Thanks @LouisJS 💟

[2018-01-26 14:44] MyGuySi commented on #108
That'll probably be the reason 😄 sorry I should have posted versions with the OP, my bad.

Thanks

[2018-01-26 14:44] #108 closed

[2018-01-26 14:57] mmazzarolo commented on #108
No worries,
FYI I also just officially release v5.0.0 👍

[2018-01-26 17:16] LouisJS opened #109 "How to implement a ScrollView inside a Swipeable Modal"
I'm using the latest [release](https://github.com/react-native-community/react-native-modal/releases) of react-native-modal that implement the [swipe feature](https://github.com/react-native-community/react-native-modal/pull/105)

I'd like to add a ScrollView inside my modal.

https://snack.expo.io/ryRylJFHz

I'll keep working on this. If you manage to make it work, i'm just right there 😄

I did a

[2018-01-27 06:19] wellyshen commented on #92
I have the same issue

[2018-01-27 23:08] mmazzarolo commented on #109
Hey @LouisJS
I gave a shot at your expo snack and I'm not sure I fully understand what is the behaviour you expect to obtain 🤔
I guess you'd like to keep the swipe-down to close feature on the image while still being able to scroll the modal text, am I right?
I'm not sure it is possible right now because [the panhandlers](https://github.com/react-native-community/react-native-modal/blob/master/src

[2018-01-28 05:17] peteroid commented on #92
+1

[2018-01-28 05:24] tronginc opened #110 "backdropOpacity and backdropColor not working"
Modal from react-native-modal is so good for my old project. But today, i create new app and backdropOpacity and backdropColor not working.

![Issue Image](https://i.imgur.com/YGGGsj9.jpg)

Here is my code:

                onBackdropPress = {()=>this.setState({isVisible: false})}
                onBackButtonPress = {()=>this.setState({isVisible: false})}
                visible={this.state.isVisi

[2018-01-29 14:53] toussa commented on #110
Try removing `backgroundColor:'white'`
And set `transparent={true}
        backdropColor="rgba(0,0,0,0.5)"` in modal props

[2018-01-29 15:18] toussa opened #111 ""Warning: Can only update a mounted or mounting component." when navigating to another screen"
Hi,

I'm using some modals with a button "go back" that dispatch 2 actions:
- One to go to the previous screen.
- One that will clean the state, which is used as props. It's linked to the isVisible props of my modal.

The modal is displayed correctly, but, then, when I hit the goBack button, I arrive on the right screen (and a clean state) with the following yellow warning:

I checked my code with

[2018-01-29 15:22] toussa commented on #111
Here is another link that may help: [reactjs blog: why isMounted is an antipattern](https://reactjs.org/blog/2015/12/16/ismounted-antipattern.html).

[2018-01-29 18:41] mmazzarolo commented on #111
Hi!

I would probably need more info on what your two actions are actually doing, but from my understanding you're unmounting the screen where the modal is defined while setting the `isVisible` prop to `false`, am I right?

This would probably produce the yellow warning because when you set the `isVisible` prop to `false` the modal will first and animate out and then set its own internal state.

T

[2018-01-29 18:42] mmazzarolo commented on #110
Thanks @toussa

@tronginc what the device are you using? could you try on a nexus/pixel device/simulator?

[2018-01-29 18:42] mmazzarolo commented on #109
I'll keep this open, let me know if you make any progress on this 👍

[2018-01-29 18:44] mmazzarolo commented on #92
For everyone who upvoted the thread, did you had a chance to try the fix proposed above?
Did it work for you?
Thanks!

[2018-01-29 18:46] mmazzarolo commented on #90
I'm closing for inactivity, feel free to post again if anyone else is having the same issue and/or more info.
Unfortunately testing the component on many different devices is not easy at all.

[2018-01-29 18:46] #90 closed

[2018-01-29 18:48] mmazzarolo commented on #50
For everyone having the issue, could you try placing the modal on the root of you app and see if it still shows the white bar?

[2018-01-30 07:26] mmazzarolo commented on #111
@toussa I'm closing the issue but feel free to post again here if you're still having troubles with the warning 👍

[2018-01-30 07:27] #111 closed

[2018-01-30 07:33] mmazzarolo commented on #50
I also had the same issue using [react-native-material-dropdown](https://github.com/n4kz/react-native-material-dropdown) (which uses the native modal), see [this related issue](https://github.com/n4kz/react-native-material-dropdown/issues/62)

[2018-01-30 07:44] Donhv commented on #2
@mmazzarolo my eyes very very perfect :))
thanks u <3

[2018-01-30 09:28] toussa commented on #111
Hello @mmazzarolo, thanks for your response.

yes you're right, this is exactly what It's doing, unmounting the screen while setting visible to false.

You're right, these 3 ways fix the warning.
But it seems they are "just" workarounds and do not fix the underlying issue, which is probably related to animation as you said (or some kind of timer).
Some action that's not cleaned correctly when unmo

[2018-01-30 09:33] mmazzarolo commented on #111
The third option I listed is not a workaround, it is the correct way you should handle this situation in my opinion.
If you're interested in the modal exit animation you should do it that way (animating a component "exit" can only be done by keeping track of its state internally), otherwise, you could simply do it by un-mounting it without setting its state (which is the React-way for doing this k

[2018-01-30 10:01] toussa commented on #50
@mmazzarolo I did the test (modal on Root component, outside of navigator) => same issue :disappointed:

[2018-01-30 10:20] mmazzarolo commented on #50
Ok, I gave it another try and the issue is indeed related to React-Native modal.
The following code has the same "white statusbar" issue, caused by `transparent={true}`:

[code]

I'm trying the code above on different devices before opening an issue on the official react-native/expo repo.

[2018-01-30 10:23] toussa commented on #111
Well, the third option is logic, indeed. It can be seen this way. And that's what I gonna do for now. Thanks.

Relating to animation, I don't know much, but there is no warning at all when using the original React modal, with `animationType={'slide'}`. The modal slides out and the screen changes, as expected. That's why I thought there was some conditional verification missing somewhere.

[2018-01-30 18:26] tronginc commented on #110
@mmazzarolo I am testing it on Asus Zenfone Max 6.0.1, Samsung Galaxy Note 5 7.1.1, Emulator : google custom phone 8.0, Zenfone Max 7.1.2
So this didn't work @toussa
But I add `onSwipe={() => this.setState({ isVisible: false })} swipeDirection="up"`
this is working but I must be tap on the Modal.
https://imgur.com/a/NQSP3

I was trying to create new blank app and add Modal but have same issue!

re

[2018-02-04 22:39] greenais commented on #109
I can confirm that SrollView iside RNM works just out of the box - sure, with swipeDirection left or right.
[http://gph.is/2nIDH3N](url)

[2018-02-06 03:10] duyanh2912 commented on #92
I'm also using the hiding content trick, but instead of hiding it directly before the animation start, I use a setTimeout instead.
Let's say if the animationOutTiming is 300 then I would set a timeout of 200 to hide the content.
It's working good so far.

[2018-02-06 06:32] xieliying commented on #67
There's a Modal prop `onRequestClose` you can use, like this:
`
<Modal animationType="fade" onRequestClose={() => {alert("When you press Back Button, it will alert.")}}>

</Modal>
`

[2018-02-06 07:38] mmazzarolo commented on #110
Sorry @tronginc for answering late.
Could you share the entire code you're using?

[2018-02-06 14:28] hkwaller commented on #109
I was in the same situation as you @LouisJS - and I did manage to solve it somewhat.

If you put a `<TouchableHighlight />` or one of its siblings inside the child scrollview and make it cover the view, things will magically start working with nested scrolling.

I tried to implement the PR mentioned by @mmazzarolo but to no avail. Saw a suggestion for touch component somewhere and got it to work i

[2018-02-06 17:00] garan82 opened #113 "[Q] blur background when modal is active"
Current behavior is that the background is darken-ed when modal is visible. I would like to blur the background instead, how can I achieve this? Thanks!

[2018-02-07 07:24] mmazzarolo commented on #113
Hi @garan82 , I'm sorry but it is not possible right now. 😞
To achieve the blur effect we would need something like `react-native-blur`, which being a native module would cause a lot of trouble in its implementation.

[2018-02-07 07:24] #113 closed

[2018-02-07 07:26] mmazzarolo commented on #109
Thanks @hkwaller for taking the time to add your suggestion in the thread.

[2018-02-08 06:51] assafb81 opened #114 "keyboard not visible after dialog close"
Hi @mmazzarolo,
I am using react-native-modal v4.1.1 and RN v0.52.

I looked at issue #53 but I still having issues.

I am using Android (in iOS it works fine without `onModalHide`): When my modal dialog is shown the keyboard is hidden - which is the behavior I want.
When the dialog is closed the keyboard never shows up again, even though I am staying in the same screen.

my component that contain

[2018-02-08 07:44] mmazzarolo commented on #114
Hey @assafb81, did you already try calling `this.textInput.focus()` in the `onModalHide` callback?
I don't see any reason for it to not work 🤔 (also, make sure the `focus()` works correctly)

[2018-02-08 08:11] assafb81 commented on #114
@mmazzarolo
yep, I tried that
the calling to modal dialog in my component is this:
[code]
`keyboardFocus` method is:
[code]

I tried also without setTimeout, and also `this.textInput.blur()` inside that method.

and in my modal dialog the code is:
[code]

and inside the modal:
[code]

And it did not do the trick

[2018-02-08 08:14] mmazzarolo commented on #114
Thanks for the feedback, could you try swapping `react-native-modal` with the react-native original `modal` to see if the issue persists?

[2018-02-08 08:29] assafb81 commented on #114
@mmazzarolo its involving too much code change
will make me consider not using `react-native-modal`

[2018-02-08 08:34] mmazzarolo commented on #114
🤔

[2018-02-08 08:38] assafb81 commented on #114
please see revise comment

[2018-02-08 08:51] mmazzarolo commented on #114
@assafb81 ...why did you delete your posts?

[2018-02-08 08:56] assafb81 commented on #114
@mmazzarolo
A big advantage to use the this package is the `onModalHide`.
I solved the issue:

As follows:
[code]
and my modal dialog component is something like:

[code]

I removed bad/wrong comments

[2018-02-08 08:59] #114 closed

[2018-02-12 07:13] ShaikhKabeer opened #115 "Close modal when android back button pressed"
How to close the modal when android back button is pressed ? please help

[2018-02-12 07:34] mmazzarolo commented on #115
Hi,
just se the `isVisible` prop to `false` when the modal's `onBackButtonPress` prop is called.

[2018-02-12 07:34] #115 closed

[2018-02-12 07:45] ShaikhKabeer commented on #115
Hey Thanks @mmazzarolo , it's working

[2018-02-21 00:00] kodie commented on #110
I also couldn't get the backdrop to work, I ended up doing `<Modal style={{backgroundColor: 'rgba(0,0,0,0.5)'}}>` for the time-being.

[2018-02-21 07:46] mmazzarolo commented on #110
Could you share the entire code you're using?
What device are you using for testing?
Does the issue persist when using a different device?

[2018-02-21 09:27] LouisJS commented on #92
+1

[2018-02-21 10:26] alex-blair commented on #92
+1

[2018-02-21 10:30] mmazzarolo commented on #92
For everyone who upvoted the thread, did you had a chance to try the fix proposed above?
Did it work for you?
Thanks!

[2018-02-21 12:51] alex-blair commented on #92
@mmazzarolo I tested the proposed fix from @Versus2017 in our project and I haven't seen the flash yet 🎉 It seems to be working really well! And modal transitions are way smoother with `useNativeDriver={true}` 😸

[2018-02-21 15:10] kodie commented on #110
Here's the render() and the StyleSheet. I was also unable to get `animationIn` or `animationOut` to work however the native `animationType` works.

Issues persist on an iPhone 8 running iOS 11.2 and also on a Google Pixel XL running Android 8.

react-native v0.52.2
react-native-modal v5.0.1

[code]

[2018-02-22 07:37] mmazzarolo commented on #92
Thanks @alex-blair and @peteroid !
I just merged @peteroid PR, could anyone else give it a test too so that I can release it on npm?
Once it has been released I'll update the README.md describing the issue in detail and stating that this is a workaround (we still need to find the real source of the issue).

Thanks guys 👍

[2018-02-22 09:45] LouisJS commented on #92
Dumb question probably : How can we test it if it is not on npm ?
Also, What about using a `beta` tag ?

[2018-02-22 09:47] mmazzarolo commented on #92
Just install it directly from the master branch `npm i -S git@github.com:react-native-community/react-native-modal.git`

Sure! I'll do it this evening (I'm at work right now)

[2018-02-22 16:30] mmazzarolo commented on #92
Released as beta: `npm i -S react-native-modal@5.1.0-0`.
Feedbacks are warmly welcome 🎈

[2018-02-23 05:11] garan82 commented on #92
I confirm that #116 fixes the flash isssue on iOS for me.

[2018-02-23 15:14] LouisJS commented on #92
Unfortunately, i still have the flash issue :/

[2018-02-23 15:42] wellyshen commented on #92
Unfortunately, i still have the flash issue on iOS too.

[2018-02-23 15:48] mmazzarolo commented on #92
Did you set `hideModalContentWhileAnimating`?

[2018-02-23 15:49] wellyshen commented on #92
@mmazzarolo I think nope.

[2018-02-23 15:58] LouisJS commented on #92
Still happens :/

[2018-02-23 16:02] mmazzarolo commented on #92
[yep! ](https://github.com/react-native-community/react-native-modal/pull/116)

[2018-02-23 16:03] LouisJS commented on #92
It does work now with `hideModalContentWhileAnimating`
My bad. Awesome 💯

[2018-02-23 16:23] wellyshen commented on #92
@mmazzarolo May I ask how to use it? It doesn't listed on document.

[2018-02-23 17:45] pherm opened #117 "swiper issue with modal"
Hi, I'm working with modals and page swiper (react-native-swiper). I added a different modal to each screen of Swiper Page (3 screens, for now) and it always returns a modal wrong for the printing page. I would like to print a correct modal for each screen which i call. Any suggestions?

[2018-02-23 18:08] LouisJS commented on #117
Please provide an example of what you're trying to achieve. (on [snack.expo.io](https://snack.expo.io/))
By reading your post, we have no idea what you mean by 'wrong' so we won't be able to provide any suggestions.
Also, lower case the title of this issue.

[2018-02-23 18:32] mmazzarolo commented on #92
@wellyshen sure!
Setting the new `hideModalContentWhileAnimating` prop of the modal to `true` should be enough!

I'm adding it to the README.md too 👍

Let me know if it works for you.

[2018-02-23 18:35] pherm commented on #117
[here](https://snack.expo.io/SyjcC0aPf)

[2018-02-23 18:42] mmazzarolo commented on #92
I also updated the README by adding a FAQ and the prop description.

[2018-02-23 18:51] mmazzarolo commented on #117
Thanks @LouisJS for helping out

@pherm, since the issue seems a bit complex (it involves interactions with another external library) I won't be able to offer you a quick support, but I'll try to take a look at the example as soon as I have some free time.

From a quick look though, it seems you have multiple modals controlled by the same variable (`isModalVisible`), which is not the right pattern

[2018-02-23 19:00] pherm commented on #117
Oo, anyway thanks @LouisJS for helping out

si, @mmazzarolo, grazie dell'aiuto Matteo :) Non ho ancora capito come risolvere il problema, ad ogni pagina screen ho impostato un modale di descrizione ma quando passo ad un'altra pagina di screen mi ritorna la descrizione di un modale diverso da quello che dovrebbe ritornarmi per il medesimo prodotto. Consigli di impostare un singolo modale isolato da

[2018-02-24 09:54] wellyshen commented on #92
@mmazzarolo Thanks man, It works.

[2018-02-24 19:24] mmazzarolo commented on #92
Nice!
Closed, feel free to open another issue if needed

[2018-02-24 19:24] #92 closed

[2018-02-24 19:34] mmazzarolo commented on #117
Il problema principale che vedo è che stai usando due modali che son controllate entrambe dalla stessa variabile (`isModalVisibile`).
Dai un'occhiata a [questo esempio](https://github.com/react-native-community/react-native-modal/blob/master/example/src/app.js) che usa più modali, puoi prenderci spunto.

[2018-02-26 01:50] riwu opened #118 "Allow user interaction with content outside modal"
When a modal is active, the user is not able to interact with contents outside the modal
(eg. top navigation bar or bottom navigation tabs -- the view below with white background is the modal).

![](https://i.imgur.com/9PIgmjY.png)

Would be good to have a prop on `Modal` to enable this as it provides better UX for some designs.

[2018-02-26 07:24] mmazzarolo commented on #118
Hey @riwu
I think that what you're looking for is not really a modal but just a custom View absolutely positioned  inside your screen.

From my understanding one of the core concepts of a modal is that the modal itself should overlay all the screen, regardless of its position (feel free to correct me if I am wrong).

Please notice that under the hood react-native-modal uses [the original react-nat

[2018-02-26 07:24] #118 closed

[2018-02-26 13:50] LouisJS commented on #109
Could someone provide an example ? I can't manage to reproduce it.
Also, that does looks like a cheap trick to avoid the issue 😄

That would be awesome if `react-native-modal` handled it by default

[2018-02-26 13:52] LouisJS commented on #109
Since @theohdv did implement the `Swipe` feature in this lib, maybe he could explain why it happens, and maybe we can try to find a fix for this

[2018-02-26 15:05] theohdv commented on #109
I also noticed this issue, the problem is that the `ScrollView` in the modal won't take the touch event (and I don't know how to solve this conflict). It looks that the `panResponder` has more "importance" even if the `ScrollView` is its child. I tried to fix that by adjusting the gesture responder system but I didn't find a good solution.

@hkwaller workaround is working well (it is what I'm doin

[2018-02-27 09:44] LouisJS commented on #109
Can you try to explain us how to implement this workaround starting from https://snack.expo.io/ryRylJFHz ?
I don't know where to put the <TouchableHighlight />

[2018-02-27 09:59] alex-blair opened #121 "Add 'hideModalContentWhileAnimating' to typings"
I'm using the super helpful `hideModalContentWhileAnimating` prop in a project and I noticed it hasn't been added to the typings yet.

I'm happy to make a PR for this - let me know! 😸

[2018-02-27 10:08] hkwaller commented on #109
As far as I know you need it to be on top of the `<ScrollView />` and make sure it covers it. For instance with absolute-positioned style.

[2018-02-27 10:29] mmazzarolo commented on #121
Yup! Thank you in advance!

[2018-02-27 10:52] alex-blair commented on #121
@mmazzarolo I've made a PR 🙂

[2018-02-27 11:04] LouisJS commented on #109
I tried on top of `ScrollView`, as child of `ScrollView`, covering it relative and absolute.
It just doesn't make it.

[2018-02-27 11:37] mmazzarolo commented on #121
Great, merged 👍

[2018-02-27 11:37] #121 closed

[2018-02-27 13:00] hkwaller commented on #109
I updated the snack, @LouisJS. See the `<TouchableOpacity />` on line 56

Or am I thoroughly misunderstanding what you're trying to do? :)

[2018-02-28 01:20] juliepwchen opened #123 "Trying to react-native-modalbox with your module..."
Currently, I am using 'react-native-modalbox', but I want to switch to your module 'react-native-modal' because of the 'onSwipe' feature.  But I notice that in 'react-native-modalbox', there is a "backdropContent" prop/feature where you can add an element in the backdrop.  (I am currently using this feature to add a Video background on my Modal.)  Is there anything like this in 'react-native-modal

[2018-02-28 08:20] mmazzarolo commented on #123
I'm sorry but unfortunately this feature is not available (yet) and we don't have any plan on adding it (yet) since it would involve huge changes on the codebase. 😞

[2018-02-28 08:20] #123 closed

[2018-02-28 10:04] LouisJS commented on #109
Thanks for the snack @hkwaller. But the swipe down is not working anymore then ! 😄

What i'm trying to achieve is : _Couple the modal swipe down feature with a ScrollView inside._
So when you scroll bottom-up, it scrolls the scrollview.
When you scroll up-down, it scrolls the scrollview until its y position is 0, then if you scroll up-down again, it swipe down the modal.

[2018-02-28 11:19] pherm commented on #117
ciao @mmazzarolo il problema l'ho in parte risolto. Per ogni pagina di screen ritorna il corretto modale. Tuttavia quando richiamo il modale corretto per la relativa pagina (esempio: 2ndo modale della 2nda pagina di screen) l'app riporta sì il corretto modale ma fa anche un reset e mi riporta alla pagina di screen primaria (nel mio caso la pagine di screen 1). Il mio obiettivo è richiamare il corr

[2018-02-28 13:24] hkwaller commented on #109
ah, gotcha. that sounds like something else.

i would kinda question if that is actually good UX. swiping up/down should in my mind mean similar things. how would you get back up in the scrollview if you scrolled down, without dismissing the modal?

[2018-03-03 13:44] matteo-pennisi opened #125 "Multiple swipeDirection"
I was wondering if it is possible to pass multiple swipe directions to Modal.
Right now the modal can receive only one prop. There is a workaround for this or it can be implemented in the future?

Thanks,
Matteo

[2018-03-03 14:30] mmazzarolo commented on #125
Hey!
Yes, I think it might be implemented without too many issues.
I you're interested in giving it a try by yourself I can give you some hints on what you should do...
In the meanwhile I'll leave the issue open so that we can track how many people would need a feature like this 👍

[2018-03-03 14:31] mmazzarolo commented on #117
ciao @pherm, mi dispiace non poterti aiutare troppo ma il problema di cui stai parlando non è collegato a react-native-modal (non è una issue)... ti consiglio di rivolgere la domanda su stackoverflow taggandola con "react-native"!

[2018-03-03 14:31] #117 closed

[2018-03-03 14:52] matteo-pennisi commented on #125
Sure!
I can try to implement this feature :+1:
 Some suggestions?

[2018-03-03 15:20] mmazzarolo commented on #125
Thanks nice! Grazie 💃

Let's start by saying that the prop `swipeDirection` would accept both a string and an array (for multiple direction).

Then you should probably modify start taking a look at every line where the prop `swipeDirection` is used in a condition (inside an `if` or `switch`) and edit the interesting part taking into account that now `swipeDirection` can also be an array.

From a q

[2018-03-04 15:33] matteo-pennisi commented on #125
Ciao Matteo :)
_(Scrivo in inglese perchè magari la conversazione può essere utile a qualcuno)_

I've made some changes as you can see [here](https://github.com/matteo-pennisi/react-native-modal/commit/f53644352f1b9467750f4252f65ba362881424ff).
Now it moves on both axes but _close() and getAccDistancePerDirection need a refactor.
As you said we need to track user swipe direction so I think we need

[2018-03-05 07:27] CCabia opened #126 "Centering"
Hi, I'm trying to center the modal on my React Native project. I tried to center it using flexbox the style prop on the parent view, but it simply doesn't work. The modal keeps appearing on the left. I tried applying it on the modal itself, but of course, that affects the contents of the modal and not the modal itself.

Did I miss anything?

Here's my render code:
[code]

Thanks!

[2018-03-05 07:37] mmazzarolo commented on #125
Ciao!

Seems good to me.
Yes, you should keep track of user action using something like `this.state.draggedDirection`. Keep in mind that the dragged direction might be tricky to handle because it could change multiple times if the user drags to a direction and then to different one.

[2018-03-05 07:39] mmazzarolo commented on #126
Hi!
[The provided example](https://github.com/react-native-community/react-native-modal/tree/master/example) uses a centered modal, take a look at [what styles it uses](https://github.com/react-native-community/react-native-modal/blob/master/example/src/app.style.js) to achieve the effect.

[2018-03-05 07:39] #126 closed

[2018-03-05 20:39] kcbar commented on #91
Great solution @rochapablo
You can also do this in one line:
`<Modal avoidKeyboard={Platform.OS === 'ios'} ...>`

[2018-03-06 15:19] faizalshap commented on #110
Hey Guys,
I solved the issue by changing the `visible` prop to `isVisible`.

[2018-03-07 07:24] cihanbas commented on #110
@toussa

thank you GREAT Man : )

[2018-03-07 07:55] mmazzarolo commented on #110
Ha!
Yeah, I admit that when I started the repo I should have named the prop `visible` for dodging issues like this... 🤔

[2018-03-07 07:55] #110 closed

[2018-03-12 15:51] facuescobar opened #128 "Chance to use default transitions of original React Native Modal"
## Feature Request

Chance to use 'fade' and default transitions of original React Native Modal

react-native-modal library allows us to show content using great animations, but it doesn't allow us to implement a basic 'fade' modal animation.

It would be great to have current react-native-modal and default Modal animations available to use.

[2018-03-13 14:23] psycura opened #129 "Paddings in the modal"
Hello, and thank you for this awesome plugin.
When i use this modal, i have strange behavior - my content window inside the modal itself have paddings around the content.
Even if i add style to my content with full width and height , the padding still exist.

Why is this happen?

[2018-03-14 09:33] imjaad9090 commented on #129
wrap your content window inside a view and give that view style of flex:1

[2018-03-15 11:14] jerryheir commented on #100
@VanessaChu , Please how did you get to solve the problem... I'm facing the same thing

[2018-03-18 13:25] psycura commented on #129
doesnt help
![screenshot_20180318-152258](https://user-images.githubusercontent.com/22491732/37566356-9af6c93e-2ac0-11e8-807f-06f46a8d5ded.jpg)

[2018-03-21 00:18] bitlab-code commented on #129
It seems strange but it's a margin, use style property:
[code]

[2018-03-21 08:27] mmazzarolo commented on #128
Hey, we're using `react-native-animatable` for declaring the animations, so it would be a bit weird to add the default transition too here 🤔

[2018-03-21 09:26] mmazzarolo commented on #129
@bitlab-code solution should work (thanks btw!)

The "issue" is caused by [this line](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L371) where I setup a minimal default margin of the modal (based on the device size).
I know that it might sound weird to add a margin reset style but changing the default behaviour now would probably be a breaking change.

[2018-03-21 09:26] #129 closed

[2018-03-21 09:26] #128 closed

[2018-03-23 06:57] Rpeanut opened #132 "can support modal box nested modal box?"
hai I open a full sceen modal, then i press a button in this modal, i  expect open another modal and cover it up , but i found only exist one modal. Can this be done?

[2018-03-23 08:48] mmazzarolo commented on #132
Hey!
Showing multiple modals at the same time is not UX friendly so it is not "officially" supported.

If you're interested though here are some other related issues [1](https://github.com/react-native-community/react-native-modal/issues/30), [2](https://github.com/react-native-community/react-native-modal/issues/34).

[2018-03-23 08:48] #132 closed

[2018-03-25 03:30] sradevski opened #133 "Making react-native-animatable a peer dependency"
As the title suggest, in my opinion it is better to have **react-native-animatable** as a peer dependency instead.

I think it is reasonable enough as **react-native-animatable** is a frequently used library in my experience. The motivation is of course to eliminate unnecessary duplications and move the control over to the user of this library. **react-native-animatable** changes quite infrequentl

[2018-03-26 06:56] Rpeanut opened #134 "How to implement a FlatList inside a Swipeable Modal"
when a open a modal, i add swiper function(eg direction: left), i nest a flatList in this modal, but flatList pull up not work

[2018-03-26 08:28] LouisJS commented on #134
I did create an issue for this (#109). Please try not to duplicate it and continue the thread.

[2018-03-26 08:57] mmazzarolo commented on #134
Thanks @LouisJS 👍

[2018-03-26 08:57] #134 closed

[2018-03-28 10:59] mmazzarolo commented on #133
Hey @sradevski thanks for starting the discussione!
I think that react-native-animatable should live in the `peerDependencies` as well but at the same time I'd like to keep the install process super easy and not requiring to install react-native-animatable separately  🤔

Let's keep the issue open an see what everyone else think 👍

[2018-04-03 01:45] miguelacio opened #136 "onBackdropPress function is not working"
This is my first time using react-native-modal and somehow I cannot make it close by calling onBackdropPress prop, anyway heres my code:

**index.js (my screen)**

[code]

**MonthsDialogComponent (The componente I am calling)**

[code]

I gave styles to my Modal by making it a bottom modal, and just covers half of the screen, and my expected behavior its when I tap anywhere outside my   <View > it

[2018-04-03 16:45] orensaldanha opened #137 "backdropColor not working!!"
`import React , { Component } from 'react'
import { View , Text, TouchableHighlight , Dimensions,TouchableWithoutFeedback} from 'react-native'
import { StackNavigator } from 'react-navigation'

import { Button, Container, Icon } from 'native-base';

import { Ionicons } from '@expo/vector-icons'

import ElevatedView from 'react-native-elevated-view'

import Modal from "react-native-modal";

import

[2018-04-03 16:45] miguelacio commented on #136
I kinda reached a solution but i am not quite satisfied with it, I put a touchablewithoutfeedback view outside covering everything thats is not on my view container, it looks like this:

[code]
It does the work but i dont know if thats the best solution, best regards!

[2018-04-03 20:59] sskinner3 commented on #137
Use isVisible, not visible

[2018-04-04 11:24] mmazzarolo commented on #137
thank you @sskinner3

[2018-04-04 11:24] #137 closed

[2018-04-04 11:27] mmazzarolo commented on #136
@miguelacio your pattern is somewhat correct.
I would rename `onRequestClose` to something like `onCloseButtonPress` though and in the modal container when `onCloseButtonPress` is called I would set the `isVisible` prop to false (by keeping this info in the state).

[2018-04-04 11:28] #136 closed

[2018-04-04 16:36] Dev-Dipesh commented on #100
I received this error when I wrote my render function in a declarative way, but when changed it to function expression, it resolved the issue.

Declarative approach:
[code]

Expressive approach:
[code]

Now, I'm not exactly sure why that is, but maybe it's because of what stated in React docs:

[2018-04-06 14:41] mmitchellgarcia commented on #109
@hkwaller  @LouisJS this is a pattern used in the Uber eats app. When you open up a menu item to customize it, a modal pops up.

- If you swipe bottom to top, it will modal's scroll content like a scroll view.
- If you scroll top to bottom, and there is no more vertical scrolling to be done, it will drag the modal down to dismiss it.
- If you scroll top to bottom, and there is vertical scrolling,

[2018-04-11 13:55] LouisJS opened #138 "[Expo 16] Overlaps Issue"
Since the release of Expo 16, `Modal` in general doesn't work anymore (with Expo).
You can see :

- https://forums.expo.io/t/actionsheetios-alert-appear-behind-modal/8338/20
- https://github.com/expo/expo/issues/1616

The WebBrowser, ImagePicker, Alert, ect appears behind the Modal.

I just wanted to let you know as we will have to give up on `react-native-modal` library if this issue isn't solve.

[2018-04-11 20:25] mmazzarolo commented on #138
Since the issue is related to the react-native modal itself I don’t think we can make it work in any way until that issue is fixed.

Anyway, in the last few days I played a bit with a refactoring of this modal for making it 100% JS (without the modal component) so if the Expo issue won’t be fixed soon I’ll probably start working on it on a beta branch.

[2018-04-11 20:35] mmazzarolo commented on #138
Btw I sent a DM to Brent, thanks for the suggestion

[2018-04-14 17:33] cccarle opened #141 "is there a way of blurrying the background?"
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal component to check if the problem persists.

### When repo

[2018-04-14 18:56] mmazzarolo commented on #141
Hi!
The blur effect can only be achieved using `react-native-blur` or similar packages (which are not supported by `react-native-modal`.

[2018-04-14 18:56] #141 closed

[2018-04-16 08:48] sborkin opened #142 "Parallax/Shared view animation with modal"
Is it possible to animate the modal in/out and associate the animation with Animated.Value?

I would like to make a view fade in/out when the modal is dismissed, and it should be in sync with the current state of the modal animation

[2018-04-16 10:28] pistonsky commented on #109
The behavior is absolutely standard - take a look at Apple Music: when you open a song that is currently playing - you can scroll the song, and also swipe the modal away. Once you scroll the song, you can scroll it back, and the modal will not swipe away, no matter how hard you try. But if you start scrolling when it is at scrollTop=0 - you can swipe it away.

I see it in every app I use, it's tre

[2018-04-16 16:06] mmitchellgarcia commented on #109
@pistonsky @LouisJS I was able to do this! I was overthinking it using a PanResponder. You can do this if you have a <ScrollView /> with a transparent background positioned absolutely above the content you'd like to to scroll over.

[code]

[2018-04-17 00:36] aligfl commented on #109
@mmitchellgarcia the wrapper component, I should be wrapper my children component in your view? and it should work?

[2018-04-18 05:26] ChristianTucker opened #144 "Change the backdrop start height to be under navigation bar."
I'm trying to figure out the best way to get the backdrop to start under the navigation bar, as there are items on our navigation bar that we want the user to continue to be able to interact with while the modal is loaded.

We're already using `onLayout` to get the height of our header and adjusting our modal's styling based on that value. I've tried adjusting the `style` prop for the `react-nativ

[2018-04-18 09:04] yll090 commented on #144
Well, if you look at the [code](https://github.com/react-native-community/react-native-modal/blob/832c2ed28c24831ab205c38b9b41109f379e7bd7/src/index.js#L424), it's really not possible at the moment -- it uses the device's width/height. I really don't have time for a PR right now, when/if I do I'd make one. :/

[2018-04-18 09:24] mmazzarolo commented on #138
It seems that the issue will be fixed soon by expo.
In the meanwhile I'm opening an issue for discussing a full JS solution.

[2018-04-18 10:35] mmazzarolo opened #145 "PROPOSAL: JS version of react-native-modal"
Hello everyone!
I wanted to open this "thread" to get some feedback on a new implementation of react-native-modal I'm building.

As you may already know, the current version of react-native-modal is based on [react-native's original modal](https://facebook.github.io/react-native/docs/modal.html), which, unfortunately, has [many different issues](https://github.com/facebook/react-native/issues?utf8

[2018-04-18 19:42] rasselll opened #146 "Backdrop only covers half the screen ?"
Hi I am finding the backdrop to only cover half the screen any ideas why?

[2018-04-18 19:58] mmazzarolo commented on #146
Hey!
Could you please follow the issue template?

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal componen

[2018-04-19 06:39] ChristianTucker commented on #145
I think this is great, I usually use a Java based modal and just recently started using react-native-modal in this project and  as discussed in #144 I may just go ahead and go back to this. I just wanted to use react-native-modal as it came standard with the PanResponders and the react-native-animated library already built in.

If you need any help with this rewrite, let me know I'll be happy to c

[2018-04-19 08:52] mmazzarolo commented on #145
Thanks for the feedback and for starting the discussion!

I understand your position (I used it too on some projects) but I disagree on using a single root modal because:
- If you're using a single modal in your entire app (dialog-like for example) it's perfectly fine... but when you need more than one it gets a bit more complex
- Controlling it is harder (and will probably force you to use state

[2018-04-19 09:17] theohdv commented on #145
In your example @mmazzarolo, how you'll be able to dynamically update the modal props if you are in a deeper component of your app?

[2018-04-19 10:02] mmazzarolo commented on #145
@theohdv In the same way you do it in the current react-native-modal.

The issue I'm trying to solve by moving react-native-modal to a fully JS version is not how you send props to it (you can already connect it to Redux/Mobx easily if you want) but it's the pack of bugs relate to react-native modal, like the Android status bar bug and the modal + dialog bugs.

The only difference (I'd like to hav

[2018-04-19 13:47] ChristianTucker commented on #145
@mmazzarolo  That's also an alright concept, but I don't really feel like it's the "right" way. Granted, this is all a matter of opinion, but something about being able to offload showing modals to my business logic (which is decoupled from my components) seems really nice. For example, let's say I have some sort of relatively complex screen that has a few different error modals (with different de

[2018-04-19 13:54] ChristianTucker commented on #144
@mmazzarolo  We were using the modal implementation in-place of a Drawer navigator. Therefor keeping the toolbar active is definitely ideal for our situation. However I've already made the appropriate modifications for this to work. This was just preference opposed to something like react-native-drawer.

[2018-04-19 14:00] mmazzarolo commented on #145
[code]

Ah! So this is the way you show and hide the modal.
I understand you point of view, but I don't like the approach since it means mixing the React pattern with a more procedural one (and that's the reason in react-native-modal we don't officially support the "ref" actions).
Also, if you like showing the modal from anywhere in your code, there's nothing stopping you from placing it at the ro

[2018-04-19 14:01] ChristianTucker commented on #145
Would be interested to see how you inject the `<ModalPortalIn />` into the `<ModalPortalOut />` component, so keep me posted on when you push this.

[2018-04-19 14:03] #144 closed

[2018-04-19 18:35] mmitchellgarcia commented on #109
@aligfl yes, this worked for my case.

[2018-04-20 14:40] dominicrico opened #147 "backdrop doesn't cover screen on Samsung Galaxy S8"
Hey there,

I'm tried to use your modal package. But the backdrop doesn't cover the whole screen on a Samsung Galaxy S8 when the bottom software button bar is hidden. The react-native package is working correct as of the latest version.

Using latest version of this module and react-native on a Samsung Galaxy S8 with latest software.

Thank you in advance!

[2018-04-21 16:46] #146 closed

[2018-04-21 16:48] mmazzarolo commented on #147
I don’t have any S8 available for testing but I guess it caused by the wrong dimensions reported by the Platfom API of React-Native on your device.
Could you report here what’s the result of getting your device height using RN Platform API?
Thanks!

[2018-04-22 07:58] krishnadusad commented on #93
Have the same issue: flatlist inside modal. Wondering what the solution was.

[2018-04-23 23:52] bhtruong93 commented on #125
@matteo-pennisi I'm interested in this feature as well, can I help anywhere?

[2018-04-24 12:41] vadermemo commented on #147
@dominicrico Can you share the source code of your solution?

[2018-04-25 02:56] listenzz commented on #50
I had fix this issue

https://github.com/listenzz/react-native-modal-translucent

[2018-04-25 08:00] tomleeshihhung opened #148 "Issue with using FlatList in Modal - Layout issue"
Normally, the height of FlatList can be controlled by wrapping it with the react native <View>
However, it doesn't appear to work here.

The FlatList disregards the boundaries set by <View> and the rows continue on.
Interestingly, if I make the FlatList horizontal, it works just fine.

Any ideas? Thank you

Below is the code for the Modal component.

<
Modal isVisible={visible}
   animationIn='sli

[2018-05-01 11:48] mmazzarolo commented on #109
This feature should be now available thanks to #149

[2018-05-01 11:48] #109 closed

[2018-05-03 08:26] udarts opened #150 "Modal remains open after refresh"
This issue persists in both the original modal of react-native and this version (testing on real iPhone 7+  device).

When developing, I sometimes leave the modal open when saving code (I use the live refresh), the modal remains open and there is no way to close, so I have to stop the program and restart it.

I am using version 6.0.0 of react-native-modal.

[2018-05-03 11:11] mmazzarolo commented on #150
Unfortunately it's a known issue caused by the original modal.
We can't fix it until we migrate to a totally JS version of the modal (or until react-native fixes it).

[2018-05-03 11:11] #150 closed

[2018-05-06 19:55] spectralsun opened #152 "Modal stays open after reloading on Android"
If I have a modal open on android and I do a reload from the developer menu on my android device, the modal never closes when the app reloads. To make matters worse, I can't close it either after the app is reloaded.

Steps to reproduce:

- On android, open a Modal
- Open the developer menu (you can shake the phone to do this)
- Tap reload
- Watch as the app reloads but the modal stays open and is

[2018-05-07 07:25] mmazzarolo commented on #152
Hey, duplicate of issue #150

[2018-05-07 07:25] #152 closed

[2018-05-07 16:46] paul-git opened #153 "Option for no animation at all?"
Hey there,

I'm trying to just "pop up" the modal.  It seems that the available animations (including those from rn-animate) are all too much for some old phones and the delay is quite noticeable. So I would like to be able just to show and hide the modal without any animation whatsoever (I understand of course that "show" and "hide" are animations itself somehow, but I think I made my point).
I t

[2018-05-08 08:01] mmazzarolo commented on #153
Hey @paul-git , did you already try replacing react-native-modal with the original react-native modal just to make sure that is the animation that is slowing down the modal (and not its content)?
I would also suggest you to play a bit with both `useNativeDriver`and `hideModalContentWhileAnimating` for speeding it up a bit.

Also, yes, we still miss a "no-animation" mode where we disable completely

[2018-05-08 12:15] jamessawyer opened #154 "Does the library support animationIn='zoomInDown' ?"
from library example, [example/src/app.js#L89](https://github.com/react-native-community/react-native-modal/blob/master/example/src/app.js#L89).It uses 'zoomInDown' animation,  I use it in my project , however, it has no effect, does the library support the zoom animation way?

[2018-05-08 13:40] mmazzarolo commented on #154
Yes, it should.
Did you already try running the example?

[2018-05-09 05:43] jamessawyer commented on #154
thanks for your reply, I'll give it a try when I have time lately, then get you know

[2018-05-09 09:01] paul-git commented on #153
Hey @mmazzarolo,
thanks for the help. From reading through other comments I just compiled it for productive, which made it **much** more responsive. I will play around with the options you named, and with a fast fadeIn it is almost like not animated.

I guess you can close this question, unless you want to keep it open for the PR.

Thanks again,
Paul

[2018-05-09 11:35] #153 closed

[2018-05-10 06:49] Salman18 opened #155 "Two modal in SingleClass ?"
I have two buttons and each button has different content to pop up.

But if I define two modals it is overriding and showing same.

Please let me know how to use or Defines two modals in one Class based Component.

[2018-05-10 09:20] theohdv commented on #155
Can you share your code ? It will help us to better understand your situation.

[2018-05-10 09:26] userbq201 opened #156 "How to render modal abose status bar ?"
Android 8
RN 0.55.3

Modal render after status bar. What problem ?

[2018-05-10 09:48] mmazzarolo commented on #155
Thanks @theohdv
@Salman18 please follow the issue template

[2018-05-10 09:49] mmazzarolo commented on #156
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal component to check if the problem persists.

### When repo

[2018-05-10 09:49] #156 closed

[2018-05-10 09:49] #142 closed

[2018-05-10 11:32] Salman18 commented on #155
<View>
        <Modals isVisible={this.state.isModalVisible} style={{ justifyContent: 'center', alignItems: 'center' }}>
            <View style={{ backgroundColor: 'white', height: 300, width: 270, borderRadius: 7 }}>
                  <View style={styles.outerView}>
                      <Text style={{ color: '#00a3ee', fontWeight: 'bold' }}>Gadgets</Text>
                      <View style={styl

[2018-05-10 11:34] Salman18 commented on #155
this is my code and how can I define Two modals in one class.

if I am definin like this its showing only one modal to both .

[2018-05-10 11:47] mmazzarolo commented on #155
Please see the [example project](https://github.com/react-native-community/react-native-modal/tree/master/example). It handles multiple modals.

[2018-05-10 12:45] Salman18 commented on #155
Thanks. Will check

[2018-05-11 05:51] jamessawyer commented on #154
@mmazzarolo sorry for later reply. I found that  I used 'react-native-modalbox' instead of 'react-native-modal', my apologize for  the mistake, I'll switch to 'react-native-modal',thx for the great libarary!

[2018-05-11 09:12] #155 closed

[2018-05-12 11:14] Yousefjb commented on #147
Looks like it happens to any device that can display bottom navigation bar but user choose to hide it from android settings

[2018-05-12 16:37] wkoutre commented on #147
@dominicrico I appreciate you sharing the solution of `react-native-extra-dimensions-android`.  I’ve run into this recently with `react-native-modal` (and the `Modal` primitive) on an app I’m working on and, lo and behold, this issue (with your comment) was waiting in my inbox this morning!

I’ll go ahead and implement later today, reporting back if I run into anything unusual with extra-dimension

[2018-05-14 11:42] dominicrico commented on #147
@wkoutre thanks for your update. Looking forward to your solution of this issues.

[2018-05-15 01:41] wkoutre commented on #147
@dominicrico `react-native-extra-dimensions-android` worked excellently. Concise but useful API for the few different "special" Android UI items. Thanks!

[2018-05-15 07:13] mmazzarolo commented on #147
Mind adding the info to the FAQs in the README.md? 🙏 thanks!

[2018-05-17 12:07] Im-Goutham opened #158 "Very slow in android"
modal taking 2 or 3 seconds to open in Android, while in ios it is very fast.

`
<Modal
           isVisible={this.state.showModal}
           animationIn='slideInUp'
           backdropColor='black'
           backdropOpacity='0.20'
           animationInTiming={0}
           style={styles.bottomModal}
           onSwipe={() => this.setState({showModal: false})}
           onBackdropPress={() =>

[2018-05-17 13:40] mmazzarolo commented on #158
Android is slower when not build in release mode.
Try creating a release apk and see if it works correctly there.

[2018-05-17 21:44] faycito opened #159 "modal is shown 2 times"
i dont know why but, my modal is shown 2 times, can u help me please?,

`
import React, { Component } from 'react'
import {
    Text,
    View,
    StyleSheet,
    TouchableOpacity,
    Dimensions,
    ImageBackground,
    Image,
    ScrollView,
    Platform,
    Modal,
    Alert,
    TouchableHighlight
} from 'react-native'
import { StackNavigator } from 'react-navigation'
import Button from 'rea

[2018-05-18 02:03] wkoutre commented on #147
@mmazzarolo Absolutely, sir! Adding now.

[2018-05-18 04:04] landandan commented on #148
me too

[2018-05-18 05:13] Im-Goutham commented on #159
Try replacing  _modalView({}) to this._modalView({})

[2018-05-18 07:11] #158 closed

[2018-05-18 07:14] mmazzarolo commented on #159
Hi!
Please see the example directory in this repo for an example on how to use the modal.

[2018-05-18 07:14] #159 closed

[2018-05-18 07:35] mmazzarolo commented on #147
Thanks everyone!

[2018-05-18 07:36] Im-Goutham commented on #108
For me it is not working both in android and ios
I used like this
   <Modal
           isVisible={showModal}
           backdropColor='black'
           backdropOpacity='0.20'
           onSwipeThreshold={200}
           swipeDirection='bottom'
           style={styles.bottomModal}
           onSwipe={() => alert('came here')}
           onBackdropPress={() => this.props.closeModal(false)}

[2018-05-18 08:34] theohdv commented on #108
In your `onSwipe` method you need to set `showModal` to false in order to hide the modal.

Please refer to the documentation and if you have any problem create an issue instead of writting in this thread.

[2018-05-18 15:41] wkoutre commented on #147
👍🏼 for sure , team effort!

[2018-05-19 07:37] shemilhashan opened #161 "IOS - Randomly starts not showing the modal"
I have used react-native-modal

It was working fine previously.

Now it is randomly stops working(Click on toggles,buttons not showing).

If app is killed and restarted, again it is working fine.

IOS: 11.3(Iphone 7 plus),11.3.1(Iphone 6)
RN- 0.53.3

package.json

{
  "name": "DialogSelfcare",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/loca

[2018-05-22 07:55] kentaccn opened #162 "Using PopUP as a two level menu and lead to memory issues, Terminated due to memory issue"
### Hi, I found there is abnormal memoery usage when using react-native-modal as a two level menu

normally the pop up contain a View component, i make it into a list parent menu click
 TouchableWithoutFeedback, when it is click, it will turn into another flatlist let use to press the item, the render from list parent menu to flat list view is controled by style(display:none and flex) with state (

[2018-05-22 09:11] mmazzarolo commented on #162
Hi!
Could you please reproduce the issue in a simple project/repo?

[2018-05-22 09:14] mmazzarolo commented on #148
Could you share a simple repo with the issue?

[2018-05-22 13:44] teddyteh opened #163 "Error property 'left' is not supported by native animated module when using swipe"
[code]

Keeping it as simple as the above, I'm getting an error that says "property left is not supported by native animated module. Any ideas?

[2018-05-22 14:19] mmazzarolo commented on #163
Are you setting other props? Seems related to react-native-animatable

[2018-05-22 14:21] teddyteh commented on #163
Well my complete code looks like this:

`Modal isVisible={this.state.isTimelineOpen}
                       onBackButtonPress={() => this.setState({isTimelineOpen: false})}
                       onBackdropPress={() => this.setState({isTimelineOpen: false})}
                       onModalHide={() => this.setState({isTimelineOpen: false})}
                       onSwipe={() => this.setState({isTime

[2018-05-22 18:49] mmazzarolo commented on #162
Memory leaks with lists are pretty common. Check you're not instantiating new objects inside loops/render(). Also, keep in mind that `console.log()` statement must be removed from the release mode otherwise they will fail and eat up memory.

Unfortunately this is the norm with react-native. When using a simulator AND when running the device in debugging mode you will have way more memory than on r

[2018-05-22 18:49] mmazzarolo commented on #162
Closing for now, feel free to create a new issue when needed!

[2018-05-22 18:49] #162 closed

[2018-05-23 13:34] ShaikhKabeer opened #164 "Close modal on outside tap of modal area"
Hello Guys, How do I close modal when  I tap on outside area of modal. Need help !!

[2018-05-23 13:46] mmazzarolo commented on #164
Hi,
[How can I hide the modal by pressing outside of its content?](https://github.com/react-native-community/react-native-modal#how-can-i-hide-the-modal-by-pressing-outside-of-its-content)

[2018-05-23 13:46] #164 closed

[2018-05-23 14:58] mmazzarolo commented on #164
Sorry @ShaikhKabeer but I don't get it, the FAQ is talking about **onBackdropPress**, not **onBackButtonPress** 🤔
Please read the FAQ: The prop **onBackdropPress** allows you to handle this situation.

[2018-05-24 09:45] matteo-pennisi commented on #125
Hi @bhtruong93, sorry for late response. At the moment I don't have time to continue due to some exams:sleepy: If you want you can watch what I did [here](https://github.com/matteo-pennisi/react-native-modal).

[2018-05-24 12:18] manjunathpy commented on #115
Hi

Setting this code in Modal Helped Me Out Close The Modal On Back button Press

onBackButtonPress={() => this.setState({ visibleModal: null })

[2018-05-28 03:36] GollyJer commented on #50
@wkoutre Very cool!  Nice work.
Hopefully someone on the core team can use what you've done to get this into the native modal.

We're using Expo so I'm unable to get your fix because I can't `react-native link`.

[2018-05-28 06:31] #148 closed

[2018-05-28 14:09] DomiR opened #165 "Publish update to npm"
Some minor patches were merged, but are still not available on npm.

[2018-05-29 07:10] mmazzarolo commented on #165
Ouch! Thanks @DomiR , just released [v6.1.0](https://github.com/react-native-community/react-native-modal/releases/tag/v6.1.0)

[2018-05-29 07:10] #165 closed

[2018-05-29 07:12] mmazzarolo commented on #163
I investigated a bit and I think that `useNativeDriver` currently does not support the swiping due to React-Native limitations.
The issue might be addresses soon though thanks to all the recent contributions to the React-Native gesture system.

[2018-05-31 18:28] terranball opened #166 "Modal does not show up on iPad"
platform : iOS 11.3
react-native-modal: "^5.4.0"

The modal does not see to show up on iPad, but does work on iPhone. Has anyone else experienced this?

[2018-05-31 19:32] #166 closed

[2018-06-04 15:22] sheshbabu commented on #45
@mmazzarolo Thanks for the explanation! It's very helpful for people new to RN. Is it possible to add this to readme?

[2018-06-04 15:38] mmazzarolo commented on #45
Done @sheshbabu !

[2018-06-04 15:40] sheshbabu commented on #45
That was pretty quick, thanks! 👍

[2018-06-05 01:31] lslvxy commented on #45
👍👍

[2018-06-05 07:17] sinevitch opened #167 "Why not re-render Modal window?"
Why not re-render Modal window?

https://stackoverflow.com/questions/50680576/why-not-re-render-modal-window?noredirect=1#comment88382215_50680576

"react-native-modal": "^5.4.0",
"react-redux": "^5.0.7",
"react": "16.3.1",
 "react-dom": "^16.3.2",
 "react-native": "^0.55.3"

[2018-06-05 09:51] gwl002 opened #168 "on iphoneX It represent weird."
![image](https://user-images.githubusercontent.com/18588945/40968775-ee790976-68e8-11e8-9e58-99e7feea6c9b.png)

When use the modal original It shows normal,but when use this package it seems the modal can not cover the full screen in iPhone X.

[2018-06-05 10:57] mmazzarolo commented on #167
Could you please provide an example here? Please follow the issue template before submitting a new issue.
Thanks!

[2018-06-05 10:57] #167 closed

[2018-06-05 12:23] waterFallFlow commented on #168
you can try to add margin style like this:
![image](https://user-images.githubusercontent.com/15437785/40975661-3b794f78-68fe-11e8-81c6-7da6e01b0eec.png)

[2018-06-06 11:25] Samesh opened #169 "onBackdropPress not working on iOS. Works on android"
Hi, onBackdropPress function works on android but doesn't work in iOS. Please see. Version 6.0.0

`<Modal
                    isVisible={showChooseFriendshipModal}
                    backdropColor="#009688"
                    onBackButtonPress={hideFriendshipModalFunc}
                    onBackdropPress={() => console.log("Clicked")}

[2018-06-06 13:27] mmazzarolo commented on #169
Hi @Samesh
could you please create a new issue following the issue template?
Thanks!

[2018-06-06 13:27] #169 closed

[2018-06-07 01:57] wkoutre commented on #50
@GollyJer It can always be manually linked.

Haven't used Expo in over a year so I can't speak to the process/possibility but.. react-native link is finicky as it is, so I usually either use Cocoapods (if supported) or manually link.

[2018-06-07 09:07] tpnguyen91 opened #170 "How to disable swipe gesture?"
Hi Guys,

How can I disable swipe gesture. like isSwipe?

Thanks in advance.

[2018-06-09 10:27] lyz19890927 commented on #84
Why not working in debugging/development mode? It's frustrating.

[2018-06-09 15:38] mmazzarolo commented on #84
Unfortunately It is not an issue of the component but more of React Native itself.

[2018-06-10 14:33] 7elven commented on #125
this is my modified
https://github.com/7elven/react-native-modal/blob/master/src/index.js

ex. <Modal swipeDirection={["down","up"]} >

[2018-06-10 17:50] matteo-pennisi commented on #125
@7elven I will try your fork  :+1:

[2018-06-10 18:09] mmazzarolo commented on #170
Hi there, swiping is disabled by default and it's controlled by `swipeDirection` (set it to null or undefined)

[2018-06-10 18:09] #170 closed

[2018-06-10 18:09] mmazzarolo commented on #168
Thanks @waterFallFlow

[2018-06-10 18:10] #168 closed

[2018-06-13 11:17] macrozone opened #171 "multiple modals not working"
I switched from react-native's default Modal to react-native-modal and i noticed that if I have multiple modals open at the same time, only one will ever be visible.

react-native's modal handles this correctly: they display only the first one, but if i dismiss, i see the other modals.

With react-native-modal, the others are simply ignored, altough they are mounted with `isVisible={true}`. This l

[2018-06-13 12:40] mmazzarolo commented on #171
Hi!
Unfortunately it is no possible showing more than a modal *at the same time* right now because react native's default modal do not support this feature.

The should be a few issues opened both here and in the react-native repo about this issue. It happens even with dialogs/alerts.

If, instead of showing the modals at the same time, you just want to show a modal one after another you should ke

[2018-06-13 16:59] macrozone commented on #171
hey @mmazzarolo thanks for your answer.

i think you misunderstand my issue, so let me explain:

- react-native's default modal does not allow to show multiple modals at the same time.
- HOWEVER, if you mount multiple modals, the first one will be visible and the others will become visible, once the first one has been dismissed. So it's guaranteed that the user will see all modals, altough not at

[2018-06-13 17:28] mmazzarolo commented on #171
Re-opening, sorry if I misunderstood it.

Oh! I'm was not aware of this -- and I don't know if I understood it correctly, could you show me a snippet? Are those modals animated?
react-native-modal is using the original modal under the hood so I don't see why they should behave differently here 🤔

Well, this is actually is a known issue of react-native about modals, alerts and dialogs.
There are mu

[2018-06-17 07:05] JeremyBradshaw7 opened #172 "supportedOrientations throwing error (in Typescript)"
Tried using supportedOrientations as per the docs and Typescript throws an error:

[ts] Property 'supportedOrientations' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Modal> & Readonly<{ children?: ReactNode; }> & Rea...'.

[2018-06-18 15:09] metahexane commented on #147
Wouldn't close this issue yet, since the solution doesn't work for projects using CRNA, without having it ejected.

[2018-06-18 15:59] mmazzarolo commented on #147
@metahexane are you aware of any way to correctly measure the device height on Expo?

[2018-06-18 19:12] metahexane commented on #147
@mmazzarolo I tried to google for it, couldn't find any information. Do you have anything for me?

[2018-06-18 19:19] mmazzarolo commented on #147
Nope, I'm sorry 😞that's why I was asking

[2018-06-18 19:21] metahexane commented on #147
@mmazzarolo I tried changing 'window' to 'screen', such that I have `Dimensions.get('screen').height`. I'm debugging on the Samsung Galaxy S9, however, the modal goes right under the soft bottom bar, even if I add 1000 to the height, so whether it's the correct height or not, it doesn't matter, the modal always goes under where the soft bottom bar is supposed to be (mine is disabled, so it goes do

[2018-06-18 19:24] mmazzarolo commented on #147
What do you mean by "under the bottom bar"? Isn't it the behaviour you expect from it?

[2018-06-18 19:32] metahexane commented on #147
@mmazzarolo It's like this:

![image](https://user-images.githubusercontent.com/15888879/41557800-0b3fd4f8-733f-11e8-9d0a-c3c6b6b8dc2d.png)

As you can see, the modal goes right under the area of the soft bottom bar, while it's not even there.

[2018-06-18 19:34] mmazzarolo commented on #147
🤔 Could you also attach a screenshot with the modal closed?

[2018-06-18 19:37] metahexane commented on #147
This is my view with the model closed (don't mind my poor styling):

![image](https://user-images.githubusercontent.com/15888879/41557998-bf35f1ae-733f-11e8-9574-705d34624013.png)

[2018-06-18 19:44] mmazzarolo commented on #147
Could you try changing [this line from the `react-native-modal` folder in `node_modules`](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js#L458) to `height: 1000`, refresh the app, and see if the backdrop covers the entire screen?

[2018-06-18 19:48] metahexane commented on #147
Hey that actually worked for me, wouldn't it be wiser to use Dimensions.get('screen').height in that case? Since screen/window does matter for android and as a model you would actually want to cover the whole screen?

[2018-06-19 06:32] Samesh commented on #169
There was a problem with my styling. It actually works. Sorry about that

[2018-06-19 06:42] mmazzarolo commented on #147
I considered it in the past but measuring the `screen` was not consistent at the time...

...And it still seems to be the inconsistent 😞

Yes, it does (if you don't run `npm install` again before building the apk o ipa.

[2018-06-19 12:29] metahexane commented on #147
It's also inconsistent with height set to 1000. React's built in modal stays consistent...

[2018-06-20 11:35] sooxiaotong opened #173 "Strange modal behaviour, it offset sometimes when toggling it"
![ezgif-3-22b49efb77](https://user-images.githubusercontent.com/13378059/41655897-e84a7e3e-74c0-11e8-9278-7d37d8655bf2.gif)

[code]

[2018-06-20 11:50] mmazzarolo commented on #173
Could you please provide an example here? Please follow the issue template before submitting a new issue.
Thanks!

[2018-06-20 11:50] #173 closed

[2018-06-20 12:13] sooxiaotong commented on #173
Solved! fixed in release mode

[2018-06-21 17:41] ethanyuwang opened #174 "How can I place the modal at certain location instead of just being centered?"
I noticed that by default the modal is centred in the middle of the screen, but for my case, I want to place it in the top half of the screen with a margin from the very top. How can I achieve this?

[2018-06-21 18:42] #174 closed

[2018-06-22 10:46] clycheng2015 opened #175 ""react-native-modal": "^6.0.0","
### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original Modal component to check if the problem persists.

### When repo

[2018-06-22 10:52] clycheng2015 commented on #175
"react": "^16.0.0-alpha.12",
    "react-native": "^0.48.1",
    "react-native-modal": "^6.0.0",
 when the model show more than one time on my android mobile,the modal background(backdrop) is blacker and blacker,and then the bg is come to  black,that can,t see the view beheind the modal ,it is terribe!this seems to relates to moblie memory?do you thnow why??

[2018-06-22 12:23] mmazzarolo commented on #175
Hey!
1. You cannot show multiple modals at the same time
2. You can find many other issues related related to this in the closed issues list
3. Please fill and follow the issue template before submitting a new issue

[2018-06-22 12:23] #175 closed

[2018-06-23 02:10] brayanL commented on #32
I have any specific solution?

[2018-06-23 04:27] yasir-netlinks opened #176 "Modal flashes. appearing again after being dismissed"
Hi there, sorry for posting this here, I am facing a problem... I am using version `5.4.0` and this is happening on iOS , not sure if it's happening on android. This problem wasn't noticed at all on simulator, but when running on a real device

When dismissing the modal, it flickers sometimes, meaning that when dismissed and the modal disappears, it reappears again (right away) and then gone again

[2018-06-23 09:41] mmazzarolo commented on #176
Hi!
Please fill all the needed info in issue template, thanks!

### When reporting a bug, please be sure to check if the issue still persists with react-native original modal:
Under the hood `react-native-modal` uses react-native original [Modal component](https://facebook.github.io/react-native/docs/modal.html).
Before reporting a bug, try swapping `react-native-modal` with react-native original

[2018-06-23 09:41] #176 closed

[2018-06-26 06:48] mmazzarolo commented on #172
Do you mind adding its support [here](https://github.com/react-native-community/react-native-modal/blob/master/src/index.d.ts)?

[2018-06-26 06:48] #172 closed

[2018-06-27 14:23] TylerNRobertson opened #177 "Modal Take Up only Part of Screen"
Not looking to make a bug report but have a question. Is there any way to make this modal only cover a certain percentage of the screen and leave the rest able to be tapped on still? I have buttons that will be above the modal but belong to the parent of the Modal that is technically behind it.

[2018-06-29 10:07] mike-niemand commented on #177
A modal by definition must force a user to interact with it before returning to the application. You're probably looking for a message box or similar.

[2018-06-29 10:14] mike-niemand commented on #147
@wkoutre Mind sharing how you got this to work? I have 'react-native-extra-dimensions-android' installed and working but how is the HEIGHT passed to 'react-native-modal'? Must be missing something.

[2018-06-29 14:49] wkoutre commented on #147
@mike-niemand You've checked out the FAQ section in the README?

If not, check it out. Then apply a style to the `style` prop of the `Modal` including the `height` returned from `require("react-native-extra-dimensions-android").get("REAL_WINDOW_HEIGHT")`.

[2018-06-29 15:07] mike-niemand commented on #147
@wkoutre Yeah, tried that and it made no difference. I am getting the extra dimension height correctly on an S8 but can still see the status bar on react-native-modal (full screen app). Am I correct in assuming that the status bar shouldn't appear?

[2018-06-29 16:22] mmazzarolo commented on #177
@mike-niemand thanks 👍

@TylerNRobertson I agree with Mike, I'm sorry but this it out of the scope of the library :(

[2018-06-29 16:22] #177 closed

[2018-07-02 08:52] alex-mironov-ynd commented on #50
Why is this issue closed? It's still there.

[2018-07-02 08:53] alex-mironov commented on #50
Why is this issue closed? It's still there.

[2018-07-02 08:57] mmazzarolo commented on #50
@alex-mironov because unfortunately we cannot do too much about it since [it's a RN issue](https://github.com/facebook/react-native/issues/9090#issuecomment-337624981) 😞

[2018-07-04 06:55] jamessawyer commented on #51
Another modal library react-native-modalbox does a great job! react-native-modal will always overlay other navigation scenes!

[2018-07-05 09:12] thatjuan opened #178 "App on babel error after upgrading to RN 0.56.0"
Hello,

My app fails to start after upgrading from RN 0.55 to 0.56.0. After looking into it some more, I found that it's a babel error and it's pointing to react-native-modal. I'm using version 6.1.0.

The error reads:

[2018-07-05 15:40] Titozzz commented on #178
https://github.com/facebook/react-native/issues/20038.
https://github.com/babel/babel/issues/7177.

These are also related

[2018-07-05 15:52] mmazzarolo commented on #178
Ouch. Sorry but I'm a bit busy right now, anyone willing to recap what's happening/proposing a fix there?

[2018-07-05 16:02] Titozzz commented on #178
This is not a fix and we definitely need to dig further, but in the meantime if it is critical for you, just transpile the index using REPL and paste it. 😭

[2018-07-05 16:15] Titozzz commented on #178
https://github.com/react-native-community/react-native-modal/pull/179 @mmazzarolo @ashoat

[2018-07-05 16:19] JChanceHud commented on #178
Proposed branch is working for my project, thanks @Titozzz @Ashoat!

[2018-07-05 17:07] mmazzarolo commented on #178
Can I safely bump the minor?
I haven't had a chance to test it.
Otherwise I'll just cut a new major.

[2018-07-05 17:10] Ashoat commented on #178
Based on semver, this should only be a minor release. There should be no breaking changes.

[2018-07-05 17:12] mmazzarolo commented on #178
Thanks @Ashoat  (and also thanks for finding the workaround!)

[2018-07-05 17:21] mmazzarolo commented on #178
Minor released 🎉

[2018-07-05 17:35] thatjuan commented on #178
Yay, that worked! Thanks @Ashoat and @mmazzarolo

[2018-07-05 18:09] #178 closed

[2018-07-05 18:17] mmazzarolo commented on #171
Closing, feel free to write here again if you want to discuss it further and I'll re-open it 👍

[2018-07-05 18:18] mmazzarolo commented on #138
Closing, let's discuss it in the other thread!

[2018-07-05 18:18] #138 closed

[2018-07-05 20:48] hellogerard commented on #145
We ran into the same limitations with React Native's built-in Modal component that you did. I don't know if you've seen this one, but we've been using https://github.com/magicismight/react-native-root-modal instead. Just an alternative implementation, FYI.

I prefer being able to drop my modal where ever it's opened from. I don't want to go into the root of my app and change code, just open a moda

[2018-07-06 04:21] kientux opened #183 "supportedOrientations warning on lastest version (v6.3.0)"
After upgrade from version `6.1.0` to `6.3.0`, this warning appears:

![simulator screen shot - iphone 8 - 2018-07-06 at 11 17 37](https://user-images.githubusercontent.com/4200743/42359783-7392991e-810e-11e8-8471-641f4460c68d.png)

My modal doesn't even have `supportedOrientations` prop:

[code]

I tried to add `supportedOrientations={["portrait"]}` but the warning still persists.

[2018-07-06 04:51] jpinz commented on #183
Hi! The warning was fixed in the other pull request I made, just waiting for @mmazzarolo to make a new release with it and it should be all good! Sorry for the inconvenience!

[2018-07-06 05:44] Manoj002 commented on #174
Hello @ethanyuwang
you got it how to change position?
if yes, please share here too even im interested in it and will help others too

[2018-07-06 06:38] kientux commented on #183
The warning is gone with `v6.4.0`. Thanks for the quick fix!